<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="ie ie6 lte9 lte8 lte7 os-mac"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="ie ie7 lte9 lte8 lte7 os-mac"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie ie8 lte9 lte8 os-mac"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie ie9 lte9 os-mac"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="os-mac"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="os-mac"> <!--<![endif]-->
<head>
<script type="text/javascript">
 if (!window.i18n) { window.i18n = {}; }
 // global webtrack object for timing information
 var WEBTRACK_GLOBAL = {
 softTimings: {},
 hardTimings: {},
 seedTime: null,
 now: function() { return (new Date()).getTime(); },
 lapse: function() { return this.now() - this.seedTime; },
 get: function(name) { return (this.hardTimings[name]) ? this.hardTimings[name] : this.softTimings[name]; },
 getSoftTimings: function() { return this.softTimings; },
 set: function(name, val) { this.hardTimings[name] = (val*-1 > 0) ? null : val*1; },
 record: function(name) { this.softTimings[name] = this.now(); },
 clean: function() {} // FIXME
 };
.disable .mike { background: no-repeat scroll 0pt 0pt transparent ; border: medium none; width: 32px; height: 32px;margin-left: 195px; } 
 WEBTRACK_GLOBAL.seedTime = WEBTRACK_GLOBAL.now();
 </script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta name="pageImpressionID" content="4f961d93-ad85-40e8-9402-9740d7c44292">
<meta name="pageKey" content="nprofile-edit-basic-info">
<meta name="analyticsURL" content="/analytics/noauthtracker?goback=%2Enpe_*1_*1_*1_*1_*1_*1">
<link rel="openid.server" href="https://www.linkedin.com/uas/openid/authorize">
<link rel="apple-touch-icon-precomposed" href="/img/icon/apple-touch-icon.png">
<![if (!IE)|(lt IE 9)]>
<link rel="shortcut icon" type="image/ico" href="http://s3.licdn.com/scds/common/u/img/favicon_v3.ico">
<![endif]>
<!--[if gte IE 9]>
 <link rel="shortcut icon" type="image/ico" href="http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico">
 <meta name="msapplication-task" content="name=Home;action-uri=/home?trk=ie_sm_home;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Inbox;action-uri=/inbox/messages/received?trk=ie_sm_inbox;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Profile;action-uri=/profile/edit?trk=ie_sm_pro;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Connections;action-uri=/connections?trk=ie_sm_cnts;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Groups;action-uri=/myGroups?trk=ie_sm_grps;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <![endif]-->
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preGlobalHeadCSS');
     				}
     			</script>
<link rel="stylesheet" type="text/css" href="http://s3.licdn.com/scds/concat/common/css?h=3bifs78lai5i0ndyj1ew7316e-c8kkvmvykvq2ncgxoqb13d2by-4cff62fozoxsbiyfz40j584kw-c5839km74lqu75dnankln5rgt-4uu2pkz5u0jch61r2nhpyyrn8-cosi44cy9brhzt93jjbjbb8v3-bf0i9bv8oqeq4shjzvzhms72i-4om4nn3a2z730xs82d78xj3be-4newiqesz8x3qjgqezmhywsri-ct4kfyj4tquup0bvqhttvymms-7h14gyi8sjdyzzg0ztg8pw3qk-36m1n5ng9jku7vwl89ozmcdj7-9zbbsrdszts09by60it4vuo3q-6ar98u770i0clgj9lu8zxe6dx-901u057v2k19l3bz80xj15yhf-34ohz9lv9h6cjd8zhbmfk3tbw-5pnxeosk9ql3alz2yvw5hhirb-6ceg763nywwe227qy2g9w2q4u-4z5x4qkl5qhtmn810nwa1hmnd">
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postGlobalHeadCSS');
     				}
     			</script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preGlobalHeadJS');
     				}
     			</script>
<script type="text/javascript" src="http://s3.licdn.com/scds/concat/common/js?h=dfoaudjrk6rbf82f45bz5crwi-62og8s54488owngg0s7escdit-c8ha6zrgpgcni7poa5ctye7il-djim7uyllidc9gta745y2wo5m-51dv6schthjydhvcv6rxvospp-d7z5zqt26qe7ht91f8494hqx5-e9rsfv7b5gx0bk0tln31dx3sq-2r5gveucqe4lsolc3n0oljsn1-8v2hz0euzy8m1tk5d6tfrn6j-b88qxy99s08xoes3weacd08uc-5ofp0kqsh15p8baptquqc44fk-5jtrz5noan83x6iogrfoq65dz-6m96w308crq8i2wt3kmhannii-4z2vygsszomlttdsxgo7qywwb-7z1x1cw5qh8v39jh87ikiv8zy-arafsrdsrssomfq13dee303jf-a92cw2qhgpy3lpkcwz0bawszf-6wn0gsvf2d6b56p31cloxdg4f-7yly2a0gn0x4rrgw1qqq532hr-4c6mz6u5rinti47gswwanj74j-b8qw8xnuiytx3fbumuzh0db26-hez188aqga9xu5gf4dxcwz20-anaxa6l712w7m4gp8089vyb5m-3lbadbk6cekuctkjz51m39iv1-80vg9koywz84zoon9sjflbru0-4xlkttqdqrmvbmr35jaga18yy-8emkumbgk7so2avybzcwqtt4q-57sur4cj634ll9tk38imgvc6g-68zzt5h5wxd16kqsxg5af8znv-9puf8y7tgjvse2oqtgkdb4wcj-33uehkbudateqtejuzay8onku-147tpi0wxd9ixjtep3lkaqnlg-3lrfksnkrzosdvcxbqwguwmif-ce7baye89ce3jzklj7tbf83hn-bh3dmdyp0bfpwr21rd31b5dil"></script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postGlobalHeadJS');
     				}
     			</script>
<script>
 LI.comboBaseUrl = "http://s3.licdn.com/scds/concat/common/";
 LI.staticUrlHashEnabled = true;
 </script>
<script type="text/javascript"></script><script type="text/javascript">document.cookie='lang="v=2&lang=en&c="; domain=linkedin.com; version=0; path=/;';</script><script type="text/javascript">
//InSlow namespace
if(!InSlow || typeof(InSlow) === 'undefined' ) var InSlow = {};
InSlow.scriptUrl = 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/js?h=cd6jxshse3jo8sh8gnkm69rvy"]
              
            
          
        
      
    [0];
</script>
<title>Edit Your Profile Name And Location | LinkedIn</title>
<link rel="stylesheet" type="text/css" href="http://s4.licdn.com/scds/concat/common/css?h=5btkqffqbmo0dzxzb5so7dt6l-2pkp5ymkf2bt6pt2kpsxpw717">
</head>
<body class="en member v2 edit-my-profile chrome-v3" id="pagekey-nprofile-edit-basic-info">
<input id="ubpTracker" type="hidden"/>
<input id="inSlowConfig" type="hidden" value="false"/>
<script type="text/javascript">document.body.className += " js ";</script>
<script>
 LI.define( 'InboxNav.Styles' );
 LI.InboxNav.Styles = 
 ["http://s3.licdn.com/scds/concat/common/css?h=85ss7ena9xl56dqkugat4apyj"]
 ;
 LI.define( 'InboxNav.Scripts' );
 LI.InboxNav.Scripts = 
 ["http://s3.licdn.com/scds/concat/common/js?h=em1445ff7g1bpi7y8m5y0fje5-aaod7sf2exa7qhhbzubedjht1-kxa83msy4hn0z2y5iy9sil8r-ak9xsat97hnphj0epw04b5bra-bu7waj7pkd6opqbxnohckpror-9o1wvcj5wkran8uykwcojy3cj-7h5aqsjhxzbftff18xwmd1us5"]
 ;
 </script>
<div id="header" class="global-nav member" role="banner">
<div class="top-nav">
<div class="wrapper">
<ul class="util" role="navigation">
<li class="tab username-cont">
<a href="/profile/edit?goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=h-gnav-name-link-0" class="tab-name username">
Neha Jain <span class="menu-indicator"></span>
</a>
<ul class="menu">
<li class="username-cont">
<a href="/profile/edit?goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=tab_pro" class="tab-name username">
Neha Jain <span class="menu-indicator"></span>
</a>
</li>
<li id="nav-utility-acct"><a href="https://www.linkedin.com/secure/settings?trk=hb_acc">Settings</a></li>
<li><a href="/mnyfe/subscriptionv2?trk=mny-subs-spewc-logout-upgrade">Upgrade Account</a></li>
<li id="nav-utility-auth"><a href="https://www.linkedin.com/uas/logout?session_full_logout=&amp;csrfToken=ajax%3A5976521465634906196&amp;trk=hb_signout">Sign Out</a></li>
</ul>
</li>
<li class="jump"><a href="#main">Skip to Content</a></li>
<li class="jump"><a href="#global-search">Search</a></li>
<li class="add-connection-cont"><a href="https://www.linkedin.com/secure/importAndInvite?trk=hb_add_conn" class="add-conx"><strong>Add Connections</strong></a></li>
<li class="signout"><a href="https://www.linkedin.com/secure/settings?trk=hb_acc">Settings</a></li>
<li class="signout"><a href="https://www.linkedin.com/uas/logout?session_full_logout=&amp;csrfToken=ajax%3A5976521465634906196&amp;trk=hb_signout">Sign Out</a></li>
</ul>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('clientTimeToFirstPixel');
     				}
     			</script>
<h1 class="logo"><a href="http://www.linkedin.com/?trk=hb-0-h-logo" title="Home"> LinkedIn</a></h1>
<div class="account">
<span>
<span>Account Type:</span> Basic |
</span>
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=home_level">Upgrade</a>
</div>
</div>
</div>
<div class="bar">
<div class="wrapper">
<ul class="nav" role="navigation">
<li id="nav-primary-home" class="tab ">
<a href="/home?trk=hb_tab_home_top" class="tab-name"><span>Home</span></a>
<ul class="menu">
<li><a href="/home?trk=hb_tab_home">LinkedIn Home</a></li>
<li>
<a href="/advertising?src=en-all-el-li-hb_tab_ads&amp;utm_medium=el&amp;utm_source=li&amp;utm_campaign=hb_tab_ads&amp;trk=hb_tab_ads">Advertise on LinkedIn</a>
</li>
</ul>
</li>
<li id="nav-primary-profile" class="tab ">
<a href="/profile/edit?trk=hb_tab_pro_top" class="tab-name"><span>Profile</span></a>
<ul class="menu">
<li><a href="/profile/edit?goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=tab_pro">Edit Profile</a></li>
<li><a href="/profile/view?id=59450163&amp;trk=tab_pro">View Profile</a></li>
<li><a href="/references?mrs=">Recommendations</a></li>
<li><a href="/organizer?trk=hb_tab_organizer">Profile Organizer</a></li>
</ul>
</li>
<li id="nav-primary-contacts" class="tab ">
<a href="/connections?trk=hb_tab_cnts_top" class="tab-name"><span>Contacts</span></a>
<ul class="menu">
<li><a href="/connections?trk=hb_tab_connections">Connections</a></li>
<li><a href="https://www.linkedin.com/secure/importAndInvite?trk=hb_add_conn">Add Connections</a></li>
<li><a href="/network?trk=hb_tab_net">Network Statistics</a></li>
<li class=" separator">
<a href="/college/?eduSchool=HBTI&amp;eduEnd=2010&amp;edurec=true&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_clsmts">HBTI</a>
</li>
<li class="">
<a href="/college/?eduSchool=20331&amp;eduEnd=2005&amp;edurec=true&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_clsmts">Kendriya Vidyalaya</a>
</li>
<li class="">
<a href="/college/?eduSchool=Harmilap+Mission+school&amp;eduEnd=2003&amp;edurec=true&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_clsmts">Harmilap Mission school</a>
</li>
</ul>
</li>
<li id="nav-primary-groups" class="tab ">
<a href="/myGroups?trk=hb_side_grps_top" class="tab-name"><span>Groups</span></a>
<ul class="menu">
<li><a href="/myGroups?trk=hb_side_mygrps">Your Groups</a></li>
<li><a href="/groupsDirectory?recommendations=&amp;trk=hb_side_gyml">Groups You May Like</a></li>
<li><a href="/groupsDirectory?trk=hb_side_grpsdir">Groups Directory</a></li>
<li><a href="/createGroup?displayCreate=&amp;displayCreate=&amp;trk=hb_side_crgrp">Create a Group</a></li>
<li class="user-group separator"><a href="/groups?gid=128541&amp;trk=hb_side_g">FOSS.IN</a></li>
<li class="user-group"><a href="/groups?gid=25827&amp;trk=hb_side_g">Python Community</a></li>
<li class="user-group"><a href="/groups?gid=1846027&amp;trk=hb_side_g">Python Professionals</a></li>
<li><a href="/myGroups?trk=hb_side_seegrps">See all &#187;</a></li>
</ul>
</li>
<li id="nav-primary-jobs" class="tab ">
<a href="/jobs?displayHome=&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_jobs_top" class="tab-name"><span>Jobs</span></a>
<ul class="menu">
<li><a href="/jobs?displayHome=&amp;trk=hb_tab_findjobs">Find Jobs</a></li>
<li>
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;family=jss&amp;trk=hb_tab_jss">Job Seeker Premium</a>
</li>
<li><a href="/studentjobs?goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_clgjobs">Students and Recent Grads</a></li>
<li class="separator"><a href="/jobs/post?editAttributes=&amp;trk=hb_tab_postjob">Post a Job</a></li>
<li><a href="/hiring?manageActives=&amp;trk=hb_tab_mngjob">Manage Jobs</a></li>
<li><a href="/mnyfe/subscriptionv2?displayProducts=&amp;family=talent&amp;c=25&amp;trk=lnl_job_nav">Find Talent</a></li>
<li class="separator"><a href="/redir/redirect?url=http%3A%2F%2Ftalent%2Elinkedin%2Ecom%2Frecruiter%3Fpin%3DLINav&amp;urlhash=jcjH" target="_blank">Recruiting Solutions</a></li>
</ul>
</li>
<li id="nav-primary-inbox" class="tab ">
<a href="/inbox/messages/received?trk=hb_tab_inbox_top" class="tab-name">
<span>
Inbox
<span id="nav-primary-inbox-item-total" title="34" class="count">
34 </span>
</span>
</a>
<ul class="menu">
<li><a href="/inbox/invitations/pending?goback=%2Enpe_*1_*1_*1_*1_*1_*1">Accept Invitations</a></li>
<li>
<a href="/inbox/messages/received?trk=hd_tab_received">
View Messages
<span id="inbox-received-unread-total">(34)</span>
</a>
</li>
<li><a href="/msgToConns?displayCreate=&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_cmpmsg">Compose Message</a></li>
<li class="separator"><a href="/inbox/messages/received?trk=hd_tab_received">Inbox</a></li>
<li><a href="/inbox/messages/sent?trk=hd_tab_sent">Sent</a></li>
<li><a href="/inbox/messages/archive?trk=hd_tab_archive">Archived</a></li>
</ul>
</li>
<li id="nav-primary-company" class="tab ">
<a href="/companies?trk=hb_tab_compy" class="tab-name"><span>Companies</span></a>
<ul id="nav-primary-companies-menu" class="menu">
<li><a href="/companies?trk=hb_tab_compy">Find Companies</a></li>
<li><a href="/companies?dspFllwed=&amp;trk=hb_tab_compy_flw">Companies You Follow</a></li>
</ul>
</li>
<li id="nav-primary-news" class="tab ">
<a href="/today/?trk=hb_tab_news" class="tab-name"><span>News</span></a>
<ul id="nav-primary-news-menu" class="menu">
<li><a href="/today/?trk=hb_tab_to">LinkedIn Today</a></li>
<li><a href="/today/saved?trk=hb_tab_svd">Saved Articles</a></li>
<li><a href="/signal/?trk=hb_tab_sgnl">Signal</a></li>
</ul>
</li>
<li id="nav-primary-more" class="tab ">
<a href="#nav-primary-more-menu" class="tab-name"><span>More</span></a>
<ul id="nav-primary-more-menu" class="menu">
<li><a href="/answers?trk=hb_tab_ayn">Answers</a></li>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Flearn%2Elinkedin%2Ecom%2F&amp;urlhash=YK4z">Learning Center</a>
</li>
<li><a href="http://www.linkedin.com/skills/?trk=skills-global-nav">Skills & Expertise</a></li>
<li><a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=nav_more_end_middle">Upgrade Your Account</a></li>
<li id="nav-my-apps" class="separator"><span class="title">Your Applications</span>
<ul>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=20&amp;_applicationId=1700&amp;_ownerId=59450163&amp;osUrlHash=-IYX&amp;trk=hb_side_apps" name="bar">Reading List by Amazon</a>
</li>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=30&amp;_applicationId=2000&amp;_ownerId=59450163&amp;osUrlHash=PQ-3&amp;trk=hb_side_apps" name="bar">Events</a>
</li>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=80&amp;_applicationId=1900&amp;_ownerId=59450163&amp;osUrlHash=zdNZ&amp;trk=hb_side_apps" name="bar">Polls</a>
</li>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=425837630&amp;_applicationId=1200&amp;_ownerId=59450163&amp;osUrlHash=3xjJ&amp;trk=hb_side_apps" name="bar">SlideShare Presentations</a>
</li>
<li><a href="/static?key=application_directory&amp;trk=hb_side_apps">Get More Applications...</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<form id="global-search" role="search" action="/commonSearch?goback=%2Enpe_*1_*1_*1_*1_*1_*1" method="post" accept-charset="UTF-8" name="commonSearch" class="global-search ">
<fieldset>
<legend><span>Find People, Jobs, Answers, and More</span></legend>
<label for="main-search-category">Search for:</label>
<div class="search-scope">
<select name="type" id="main-search-category" class="search-category">
<option class="/search?trk=advsrch" data-li-search-action="/search/fpsearch?goback=%2Enpe_*1_*1_*1_*1_*1_*1" title="Keyword, name, company or title" value="people">People</option>
<option data-li-search-action="/signal/?goback=%2Enpe_*1_*1_*1_*1_*1_*1" title="Keyword, company or job title" title="Keyword" value="updates">Updates</option>
<option class="/jobs?search=&amp;trk=hb_advjs" data-li-search-action="/jsearch?goback=%2Enpe_*1_*1_*1_*1_*1_*1" title="Keyword, company or job title" value="jobs">Jobs</option>
<option data-li-search-action="/csearch/results?goback=%2Enpe_*1_*1_*1_*1_*1_*1" title="Keyword" value="companies">Companies</option>
<option class="/searchAnswers?search=&amp;trk=advsrch" title="Keyword" value="answers">Answers</option>
<option title="Keyword" value="inbox">Inbox</option>
<option title="Keyword" value="groups">Groups</option>
</select>
<ul>
<li class="separator suggestion-toggle state-on">
<div>
<span class="off-toggle">Turn off suggestions</span>
<span class="on-toggle">Turn on suggestions</span>
</div>
</li>
</ul>
</div>
<script id="control-0496913d-9e49-4d44-a04a-cb238d0c6eaa-1" type="linkedin/control" class="li-control">
 
 /* extlib: _styleddropdown */
 
 
 
 LI.Controls.addControl('control-0496913d-9e49-4d44-a04a-cb238d0c6eaa-1', 'StyledDropdown', {
 name: 'universal-search-selector',
 align: 'right',
 listClass: 'search-selector'
 });
 </script>
<span class="search-box-container">
<span id="search-autocomplete-container" title="Tip: You can also search by keyword, company, school..." class="/typeahead">
<label for="main-search-box" class="ghost">Search...</label>
<script id="control-88fd0ca1-a778-427f-9a5e-be8091a5827c-2" type="linkedin/control" class="li-control">
 
 /* extlib: _ghostlabel */
 
 
 
 LI.Controls.addControl('control-88fd0ca1-a778-427f-9a5e-be8091a5827c-2', 'GhostLabel', {});
 </script>
<input name="keywords" id="main-search-box" class="search-term" type="text" value="" autocomplete="off">
<input name="pplSearchOrigin" type="hidden" value="GLHD">
<input name="pageKey" type="hidden" value="nprofile-edit-basic-info">
<span id="search-typeahead-container"></span>
</span>
<input name="search" value="Search" class="search-go" type="submit">
</span>
</fieldset>
<a id="search-link" class="search-link" href="/search?trk=advsrch">Advanced</a>
</form>
<script id="control-0afa5401-fd35-4b57-9111-60c16a56b1c4-3" type="linkedin/control" class="li-control">
 
 /* extlib: _universalsearch */
 LI.i18n.register( 'universal-search-connections', 'Connections' );
LI.i18n.register( 'universal-search-companies', 'Companies' );
LI.i18n.register( 'universal-search-groups', 'Groups' );
LI.i18n.register( 'universal-search-features', 'Features' );
LI.i18n.register( 'universal-search-skills', 'Skills' );
LI.i18n.register( 'universal-search-skill', 'Skill' );
LI.i18n.register( 'universal-search-polls', 'Polls' );
LI.i18n.register( 'universal-search-polls-pro', '<strong>Poll<\/strong> LinkedIn Professionals' );
LI.i18n.register( 'universal-search-suggestions', 'Suggestions' );


      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'typeahead2-no-matching-results', 'No matching results' );
LI.i18n.register( 'typeahead2-search-connections', 'Connections' );
LI.i18n.register( 'typeahead2-search-companies', 'Companies' );
LI.i18n.register( 'typeahead2-search-groups', 'Groups' );
LI.i18n.register( 'typeahead2-search-features', 'Features' );
LI.i18n.register( 'typeahead2-search-skills', 'Skills' );
LI.i18n.register( 'typeahead2-search-skill', 'Skill' );
LI.i18n.register( 'typeahead2-search-polls', 'Polls' );
LI.i18n.register( 'typeahead2-search-polls-pro', '<strong>Poll<\/strong> LinkedIn Professionals' );
LI.i18n.register( 'typeahead2-search-suggestions', 'Suggestions' );

LI.TypeaheadDataSourceUrls = {
  COMPANY: "/ta/company",
  INDUSTRY: "/ta/industry",
  REGION: "/ta/region",
  GROUP: "/ta/group",
  JOB_TITLE: "/ta/titleV2",
  JOB_FUNCTION: "/ta/jobfunc",
  SKILL: "/ta/skill",
  LANGUAGE: "/ta/language",
  SCHOOL: "/ta/school",
  DEGREE: "/ta/degree",
  FIELD_OF_STUDY: "/ta/fieldofstudy",
  MY_NETWORK: "/ta/mynetwork",
  MY_GROUP: "/typeahead/mygroup",
  FIRST_DEGREE_MY_NETWORK: "/typeahead/mynetwork",
  SITEFEATURE: "/ta/sitefeature",
  FEDERATOR: "/ta/federator"
};


     
      
  
  
  
  

    
      
        
          
            
                
              
          
        
      
    
    

LI.Typeahead2Dependencies = {
  scripts: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/js?h=4t3lj6o9ozudl19z7zz7zdvq5-1brxu2aud19hmfng5w2tjv0tk-1vtk4aa5ouknouwmckm72snzw-5ubs63l44y2rup8u2a7irdnen"]
              
            
          
        
      
    
};


 
 
 LI.Controls.addControl('control-0afa5401-fd35-4b57-9111-60c16a56b1c4-3', 'UniversalSearch', {
 field: "main-search-box",
 user_id: 59450163,
 userProfileImage: "http://m3.licdn.com/mpr/mpr/shrink_40_40/p/2/000/03e/2ad/0eddced.jpg",
 pollsAvatar: "http://s4.licdn.com/scds/common/u/img/icon/icon_q_30x30.gif",
 pollsLink: "/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=1900&amp;_applicationId=1900&amp;_ownerId=0&amp;osUrlHash=E3TZ",
 pollsTriggerWords: "what,where,how,who,when,why,which,are,arent,aren't,can,cant,can't,could,couldnt,couldn't,do,does,doesnt,doesn't,dont,don't,had,hadnt,hadn't,has,hasnt,hasn't,have,havent,haven't,hows,how's,if,is,isnt,isn't,should,shouldnt,shouldn't,whats,what's,whens,when's,wheres,where's,whom,whos,who's,whose,whys,why's,wont,won't,would,wouldnt,wouldn't",
 searchTypeMenu: "main-search-category",
 leoTypeaheadRoot: "/typeahead",
 enableTypeahead: "true",
 searchLink: "search-link",
 isLiquorTest: false,
 loadingImgSrc: "http://s3.licdn.com/scds/common/u/img/anim/anim_loading_16x16.gif",
 useTypeahead2: false,
 includeSearchAssist: false
 });
 </script>
</div>
</div>
</div>
<script id="control-5f7eafc6-b95f-4579-8a54-e0df228b2fd0-4" type="linkedin/control" class="li-control">
 
 /* extlib: _navigationmenu */
 
 
 
 LI.Controls.addControl('control-5f7eafc6-b95f-4579-8a54-e0df228b2fd0-4', 'NavigationMenu', {
 remoteMenus : {
 inbox : {
 id : 'nav-primary-inbox',
 url : '\/inbox\/summary?goback=%2Enpe_*1_*1_*1_*1_*1_*1',
 css : LI.InboxNav.Styles,
 js : LI.InboxNav.Scripts
 },
 company : {
 id : 'nav-primary-company',
 url : '/company/chrome/nav'
 },
 favorites : {
 id : 'nav-primary-favorites',
 url : '',
 cacheResults : false
 },
 jobs : {
 id : 'nav-primary-jobs',
 url : '/jobs?getChromeNav='
 }
 }
 });
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preHeaderParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 
 
 
 
 
 
 
 
 
 LI_WCT([
 "control-0496913d-9e49-4d44-a04a-cb238d0c6eaa-1",
 "control-88fd0ca1-a778-427f-9a5e-be8091a5827c-2",
 "control-0afa5401-fd35-4b57-9111-60c16a56b1c4-3",
 "control-5f7eafc6-b95f-4579-8a54-e0df228b2fd0-4",
 ]);
 
 
 
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postHeaderParseControl');
     				}
     			</script>
<hr>
<div id="body" role="main">
<div id="section-header">
<ul id="nav-secondary">
<li id="nav-edit-profile" class=""><a href="/profile/edit?locale=en_US"><span>Edit Profile</span></a></li>
<li id="nav-my-profile" class=""><a href="/profile/view?id=59450163&amp;locale=en_US&amp;trk=tab_pro"><span>View Profile</span></a></li>
</ul>
</div>
<div class="wrapper hp-nus-wrapper">
<div id="global-error">
</div>
<div id="main" class="profile-edit grid-e">
<div id="content">
<h1>Basic Information</h1>
<form action="/profile/edit-basic-info-submit" method="POST" name="editBasicInfoForm" novalidate="novalidate" class="standard-form">
<fieldset>
<legend><span>Name</span></legend>
<ul>
<li class="first-name">
<label for="firstName-editBasicInfoForm">First Name:</label>
<div class="fieldgroup">
<span class="error" id="firstName-editBasicInfoForm-error"></span>
<input type="text" name="firstName" value="Neha" id="firstName-editBasicInfoForm">
</div>
</li>
<li class="last-name">
<label for="editBasicInfoForm">Last Name:</label>
<div class="fieldgroup">
<span class="error" id="lastName-editBasicInfoForm-error"></span>
<input type="text" name="lastName" value="Jain" id="lastName-editBasicInfoForm">
</div>
</li>
<li class="maiden-name">
<label for="maidenName-editBasicInfoForm">Former/Maiden Name:</label>
<div class="fieldgroup">
<span class="error" id="maidenName-editBasicInfoForm-error"></span>
<input type="text" name="maidenName" value="" id="maidenName-editBasicInfoForm">
<a href="#maiden-name-visibility" class="visibility-settings">Visibility Settings</a>
<script id="control-05ccfb4e-8495-495b-9e0a-c376a3f684bf-5" type="linkedin/control" class="li-control">
            
        /* extlib: _dialog */
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'Dialog-closeWindow', 'Close this window' );
LI.i18n.register( 'Dialog-or',   'or' );
LI.i18n.register( 'Dialog-cancel', 'Cancel' );
LI.i18n.register( 'Dialog-submit',   'Submit' );
LI.i18n.register( 'Dialog-error-generic',   'We\'re sorry. Something unexpected happened and your request could not be completed. Please try again.' );


     
      
  

    
      
        
          
            
                
              
          
        
      
    
    


     
    
  

     
      
        
          
            
                
              
          
        
      
    
     


     
      
  
  
  
  
  
  

    
      
        
          
            
                
              
          
        
      
    
    


     
    
  
  
  
  

     
      
        
          
            
                
              
          
        
      
    
     


     
    
  

     
      
        
          
            
                
              
          
        
      
    
     

LI.ComposeDialogDependencies = {
  jsFiles: 
      
        
            
              
              
                ["http://s3.licdn.com/scds/concat/common/js?h=a8e9brhxqvmxhs7gw00k546u5"]
              
            
          
        
      
    ,
  cssFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/css?h=154kxlhs4z8rrtcvqfbage7t"]
              
            
          
        
      
    
};

LI.FeedbackDialogDependencies = {
  url: '/lite/feedback-form',
  cssFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/css?h=4vzx87aejjgc7hnrhtqeeaj4b"]
              
            
          
        
      
    
};

LI.WhoSharedDialogDependencies = {
  jsFiles: 
      
        
            
              
              
                ["http://s3.licdn.com/scds/concat/common/js?h=12n907isa3lj0t3ul26fdwjj8-2n4yt87lodqrmju7q1fa7ubfw-7nbfvgnuhtwvh5fy1qrxcnxd9-16vc4c66t8hhc1ekn6qxjwufy-6ocq0aiezv3k6ihwxg562e3rw-3mny47ru2j5cuk8v87004rizh"]
              
            
          
        
      
    ,
  cssFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/css?h=ee6ucumj8ledmrgyfyz4779k4-5vdl4x1qzwm5rqqwq4015vpam-3566c1ju1btq868kwju12welc-93p2og5192xig1tcmyfbsw6y8"]
              
            
          
        
      
    
};

        
    
            LI.Controls.addControl('control-05ccfb4e-8495-495b-9e0a-c376a3f684bf-5', 'Dialog', {
            name: 'maidenNameVisibility',
            type: 'task-modal',
            content: {
              node: 'maiden-name-visibility',
              title: 'Visibility Settings'
            }
          });
          </script>
</div>
<div id="maiden-name-visibility" class="dialog-container visibility">
<p class="intro"><strong>Former/Maiden Name is visible to...</strong></p>
<span class="error" id="maidenNameVisibility-editBasicInfoForm-error"></span>
<ul>
<li><label><input type="radio" name="maidenNameVisibility" value="connections" checked id="connections-maidenNameVisibility-editBasicInfoForm">My Connections</label>
<p>Your connections are the trusted friends and colleagues that you are connected to.</p>
</li>
<li><label><input type="radio" name="maidenNameVisibility" value="network" id="network-maidenNameVisibility-editBasicInfoForm">My Network</label>
<p>Your Network consists of your 1st and 2nd degree connections.</p>
</li>
<li><label><input type="radio" name="maidenNameVisibility" value="everyone" id="everyone-maidenNameVisibility-editBasicInfoForm">Everyone</label></li>
</ul>
<p class="actions">
<button class="btn-primary dialog-close">Okay</button> or <a href="#maiden-name-visibility" class="dialog-close">Cancel</a>
</p>
</div>
</li>
<li>
<fieldset class="display-name">
<legend><span>Display Name:</span></legend>
<span class="error" id="useFullLastName-editBasicInfoForm-error"></span>
<ul>
<li><label style="margin-left:-8px;" ><input type="radio" name="useFullLastName" value="F" checked id="F-useFullLastName-editBasicInfoForm">Neha Jain</label></li>
<li><label style="margin-left:-8px;"><input type="radio" name="useFullLastName" value="S" id="S-useFullLastName-editBasicInfoForm" disabled="disable">Neha J.</label></li>
</ul>
<p class="note">This option is disabled when you have a public profile. <a href="/profile/public-profile-settings?goback=%2Enpe_*1_*1_*1_*1_*1_*1">Change Public Profile Settings</a>.</p>
</fieldset>
</li>
<li class="audio-option">
<label for="enableInAudio">In Audio:</label>
<label style="margin-left:-140px;"><input type="radio" name="inAudio" value="Y" checked id="Y-inAudio">Yes</label>
<label style="margin-left:-140px;"><input type="radio" name="inAudio" value="N" id="N-inAudio">No</label>
</li>
<li class='in-audio'>
 <input id='filename' value='neha' style='display: none;'>
 <input type='button' id='record' class='j-enable' value='record'>
<input type='button' id='replay' class='j-enable' value='replay'>
<input type='button' id='save' class='j-enable' value='save'>
</li>
</ul>
</fieldset>
<fieldset>
<legend><span>Headline</span></legend>
<ul>
<li>
<label for="editBasicInfoForm">Professional "Headline":</label>
<div class="fieldgroup">
<span class="error" id="headline-editBasicInfoForm-error"></span>
<input type="text" name="headline" value="Software Developer at SlideShare" id="headline-editBasicInfoForm">
</div>
<p class="note"><strong>Examples:</strong> Experienced Transportation Executive, Web Designer and Information Architect, Visionary Entrepreneur and Investor...<a class="" href="/static?key=pop_ex_headlines&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1" onclick="LI.popup( '/static?key=pop_ex_headlines&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1', {} ); return false;" title="New window will open">See more</a></p>
</li>
</ul>
</fieldset>
<fieldset>
<legend><span>Location &amp; Industry</span></legend>
<script type="text/javascript" charset="utf-8">
          var countryFieldId = 'countryCode-location-editBasicInfoForm';
          var postalCodeId = 'postalCode-location-editBasicInfoForm';
          var requestURL = "/profile/regions-and-cities-ajax?goback=%2Enpe_*1_*1_*1_*1_*1_*1";
        </script>
<ul>
<li>
<label for="countryCode-location-editBasicInfoForm">Country:</label>
<span class="error" id="countryCode-location-editBasicInfoForm-error"></span>
<select name="countryCode" id="countryCode-location-editBasicInfoForm">
<option value="us">United States</option><option value="af">Afghanistan</option><option value="ax">Aland Islands</option><option value="al">Albania</option><option value="dz">Algeria</option><option value="as">American Samoa</option><option value="ad">Andorra</option><option value="ao">Angola</option><option value="ai">Anguilla</option><option value="aq">Antarctica</option><option value="ag">Antigua and Barbuda</option><option value="ar">Argentina</option><option value="am">Armenia</option><option value="aw">Aruba</option><option value="au">Australia</option><option value="at">Austria</option><option value="az">Azerbaijan</option><option value="bs">Bahamas</option><option value="bh">Bahrain</option><option value="bd">Bangladesh</option><option value="bb">Barbados</option><option value="by">Belarus</option><option value="be">Belgium</option><option value="bz">Belize</option><option value="bj">Benin</option><option value="bm">Bermuda</option><option value="bt">Bhutan</option><option value="bo">Bolivia</option><option value="ba">Bosnia and Herzegovina</option><option value="bw">Botswana</option><option value="br">Brazil</option><option value="io">British Indian Ocean Territory</option><option value="bn">Brunei Darussalam</option><option value="bg">Bulgaria</option><option value="bf">Burkina Faso</option><option value="bi">Burundi</option><option value="kh">Cambodia</option><option value="cm">Cameroon</option><option value="ca">Canada</option><option value="cv">Cape Verde</option><option value="cb">Caribbean Nations</option><option value="ky">Cayman Islands</option><option value="cf">Central African Republic</option><option value="td">Chad</option><option value="cl">Chile</option><option value="cn">China</option><option value="cx">Christmas Island</option><option value="cc">Cocos (Keeling) Islands</option><option value="co">Colombia</option><option value="km">Comoros</option><option value="cg">Congo</option><option value="ck">Cook Islands</option><option value="cr">Costa Rica</option><option value="ci">Cote D'Ivoire (Ivory Coast)</option><option value="hr">Croatia</option><option value="cu">Cuba</option><option value="cy">Cyprus</option><option value="cz">Czech Republic</option><option value="cd">Democratic Republic of the Congo</option><option value="dk">Denmark</option><option value="dj">Djibouti</option><option value="dm">Dominica</option><option value="do">Dominican Republic</option><option value="tp">East Timor</option><option value="ec">Ecuador</option><option value="eg">Egypt</option><option value="sv">El Salvador</option><option value="gq">Equatorial Guinea</option><option value="er">Eritrea</option><option value="ee">Estonia</option><option value="et">Ethiopia</option><option value="fk">Falkland Islands (Malvinas)</option><option value="fo">Faroe Islands</option><option value="fm">Federated States of Micronesia</option><option value="fj">Fiji</option><option value="fi">Finland</option><option value="fr">France</option><option value="gf">French Guiana</option><option value="pf">French Polynesia</option><option value="tf">French Southern Territories</option><option value="ga">Gabon</option><option value="gm">Gambia</option><option value="ge">Georgia</option><option value="de">Germany</option><option value="gh">Ghana</option><option value="gi">Gibraltar</option><option value="gr">Greece</option><option value="gl">Greenland</option><option value="gd">Grenada</option><option value="gp">Guadeloupe</option><option value="gu">Guam</option><option value="gt">Guatemala</option><option value="gg">Guernsey</option><option value="gn">Guinea</option><option value="gw">Guinea-Bissau</option><option value="gy">Guyana</option><option value="ht">Haiti</option><option value="hn">Honduras</option><option value="hk">Hong Kong</option><option value="hu">Hungary</option><option value="is">Iceland</option><option value="in" selected>India</option><option value="id">Indonesia</option><option value="ir">Iran</option><option value="iq">Iraq</option><option value="ie">Ireland</option><option value="im">Isle of Man</option><option value="il">Israel</option><option value="it">Italy</option><option value="jm">Jamaica</option><option value="jp">Japan</option><option value="je">Jersey</option><option value="jo">Jordan</option><option value="kz">Kazakhstan</option><option value="ke">Kenya</option><option value="ki">Kiribati</option><option value="kr">Korea</option><option value="kp">Korea (North)</option><option value="kw">Kuwait</option><option value="kg">Kyrgyzstan</option><option value="la">Laos</option><option value="lv">Latvia</option><option value="lb">Lebanon</option><option value="ls">Lesotho</option><option value="lr">Liberia</option><option value="ly">Libya</option><option value="li">Liechtenstein</option><option value="lt">Lithuania</option><option value="lu">Luxembourg</option><option value="mo">Macao</option><option value="mk">Macedonia</option><option value="mg">Madagascar</option><option value="mw">Malawi</option><option value="my">Malaysia</option><option value="mv">Maldives</option><option value="ml">Mali</option><option value="mt">Malta</option><option value="mh">Marshall Islands</option><option value="mq">Martinique</option><option value="mr">Mauritania</option><option value="mu">Mauritius</option><option value="yt">Mayotte</option><option value="mx">Mexico</option><option value="md">Moldova</option><option value="mc">Monaco</option><option value="mn">Mongolia</option><option value="me">Montenegro</option><option value="ms">Montserrat</option><option value="ma">Morocco</option><option value="mz">Mozambique</option><option value="mm">Myanmar</option><option value="na">Namibia</option><option value="nr">Nauru</option><option value="np">Nepal</option><option value="nl">Netherlands</option><option value="an">Netherlands Antilles</option><option value="nc">New Caledonia</option><option value="nz">New Zealand</option><option value="ni">Nicaragua</option><option value="ne">Niger</option><option value="ng">Nigeria</option><option value="nu">Niue</option><option value="nf">Norfolk Island</option><option value="mp">Northern Mariana Islands</option><option value="no">Norway</option><option value="om">Oman</option><option value="pk">Pakistan</option><option value="pw">Palau</option><option value="ps">Palestinian Territory</option><option value="pa">Panama</option><option value="pg">Papua New Guinea</option><option value="py">Paraguay</option><option value="pe">Peru</option><option value="ph">Philippines</option><option value="pn">Pitcairn</option><option value="pl">Poland</option><option value="pt">Portugal</option><option value="pr">Puerto Rico</option><option value="qa">Qatar</option><option value="re">Reunion</option><option value="ro">Romania</option><option value="ru">Russian Federation</option><option value="rw">Rwanda</option><option value="sh">Saint Helena</option><option value="kn">Saint Kitts and Nevis</option><option value="lc">Saint Lucia</option><option value="pm">Saint Pierre and Miquelon</option><option value="vc">Saint Vincent and the Grenadines</option><option value="ws">Samoa</option><option value="sm">San Marino</option><option value="st">Sao Tome and Principe</option><option value="sa">Saudi Arabia</option><option value="sn">Senegal</option><option value="rs">Serbia</option><option value="sc">Seychelles</option><option value="sl">Sierra Leone</option><option value="sg">Singapore</option><option value="sk">Slovak Republic</option><option value="si">Slovenia</option><option value="sb">Solomon Islands</option><option value="so">Somalia</option><option value="za">South Africa</option><option value="es">Spain</option><option value="lk">Sri Lanka</option><option value="sd">Sudan</option><option value="sr">Suriname</option><option value="sj">Svalbard and Jan Mayen</option><option value="sz">Swaziland</option><option value="se">Sweden</option><option value="ch">Switzerland</option><option value="sy">Syria</option><option value="tw">Taiwan</option><option value="tj">Tajikistan</option><option value="tz">Tanzania</option><option value="th">Thailand</option><option value="tl">Timor-Leste</option><option value="tg">Togo</option><option value="tk">Tokelau</option><option value="to">Tonga</option><option value="tt">Trinidad and Tobago</option><option value="tn">Tunisia</option><option value="tr">Turkey</option><option value="tm">Turkmenistan</option><option value="tc">Turks and Caicos Islands</option><option value="tv">Tuvalu</option><option value="ug">Uganda</option><option value="ua">Ukraine</option><option value="ae">United Arab Emirates</option><option value="gb">United Kingdom</option><option value="uy">Uruguay</option><option value="uz">Uzbekistan</option><option value="vu">Vanuatu</option><option value="va">Vatican City State (Holy See)</option><option value="ve">Venezuela</option><option value="vn">Vietnam</option><option value="vg">Virgin Islands (British)</option><option value="vi">Virgin Islands (U.S.)</option><option value="wf">Wallis and Futuna</option><option value="eh">Western Sahara</option><option value="ye">Yemen</option><option value="zm">Zambia</option><option value="zw">Zimbabwe</option><option value="oo">Other</option></select>
</li>
<li>
<label for="postalCode-location-editBasicInfoForm">Zip Code:</label>
<div class="fieldgroup">
<span class="error" id="postalCode-location-editBasicInfoForm-error"></span>
<input type="text" name="postalCode" value="208022" id="postalCode-location-editBasicInfoForm" data-ime-mode-disabled>
</div>
</li>
<li id="location-display-selection">
<fieldset>
<legend><span>Location Name:</span></legend>
<ul>
<li>No matches for your country and postal code.</li>
</ul>
</fieldset>
</li>
<li>
<label for="industryChooser-editBasicInfoForm">Industry:</label>
<span class="error" id="industryChooser-editBasicInfoForm-error"></span>
<select name="industryChooser" id="industryChooser-editBasicInfoForm">
<option value="">Choose industry...</option><option value="47" class="corp fin">Accounting</option><option value="94" class="man tech tran">Airlines/Aviation</option><option value="120" class="leg org">Alternative Dispute Resolution</option><option value="125" class="hlth">Alternative Medicine</option><option value="127" class="art med">Animation</option><option value="19" class="good">Apparel &amp; Fashion</option><option value="50" class="cons">Architecture &amp; Planning</option><option value="111" class="art med rec">Arts and Crafts</option><option value="53" class="man">Automotive</option><option value="52" class="gov man">Aviation &amp; Aerospace</option><option value="41" class="fin">Banking</option><option value="12" class="gov hlth tech">Biotechnology</option><option value="36" class="med rec">Broadcast Media</option><option value="49" class="cons">Building Materials</option><option value="138" class="corp man">Business Supplies and Equipment</option><option value="129" class="fin">Capital Markets</option><option value="54" class="man">Chemicals</option><option value="90" class="org serv">Civic &amp; Social Organization</option><option value="51" class="cons gov">Civil Engineering</option><option value="128" class="cons corp fin">Commercial Real Estate</option><option value="118" class="tech">Computer &amp; Network Security</option><option value="109" class="med rec">Computer Games</option><option value="3" class="tech">Computer Hardware</option><option value="5" class="tech">Computer Networking</option><option value="4" class="tech">Computer Software</option><option value="48" class="cons">Construction</option><option value="24" class="good man">Consumer Electronics</option><option value="25" class="good man">Consumer Goods</option><option value="91" class="org serv">Consumer Services</option><option value="18" class="good">Cosmetics</option><option value="65" class="agr">Dairy</option><option value="1" class="gov tech">Defense &amp; Space</option><option value="99" class="art med">Design</option><option value="69" class="edu">Education Management</option><option value="132" class="edu org">E-Learning</option><option value="112" class="good man">Electrical/Electronic Manufacturing</option><option value="28" class="med rec">Entertainment</option><option value="86" class="org serv">Environmental Services</option><option value="110" class="corp rec serv">Events Services</option><option value="76" class="gov">Executive Office</option><option value="122" class="corp serv">Facilities Services</option><option value="63" class="agr">Farming</option><option value="43" class="fin">Financial Services</option><option value="38" class="art med rec">Fine Art</option><option value="66" class="agr">Fishery</option><option value="34" class="rec serv">Food &amp; Beverages</option><option value="23" class="good man serv">Food Production</option><option value="101" class="org">Fund-Raising</option><option value="26" class="good man">Furniture</option><option value="29" class="rec">Gambling &amp; Casinos</option><option value="145" class="cons man">Glass, Ceramics &amp; Concrete</option><option value="75" class="gov">Government Administration</option><option value="148" class="gov">Government Relations</option><option value="140" class="art med">Graphic Design</option><option value="124" class="hlth rec">Health, Wellness and Fitness</option><option value="68" class="edu">Higher Education</option><option value="14" class="hlth">Hospital &amp; Health Care</option><option value="31" class="rec serv tran">Hospitality</option><option value="137" class="corp">Human Resources</option><option value="134" class="corp good tran">Import and Export</option><option value="88" class="org serv">Individual &amp; Family Services</option><option value="147" class="cons man">Industrial Automation</option><option value="84" class="med serv">Information Services</option><option value="96" class="tech" selected>Information Technology and Services</option><option value="42" class="fin">Insurance</option><option value="74" class="gov">International Affairs</option><option value="141" class="gov org tran">International Trade and Development</option><option value="6" class="tech">Internet</option><option value="45" class="fin">Investment Banking</option><option value="46" class="fin">Investment Management</option><option value="73" class="gov leg">Judiciary</option><option value="77" class="gov leg">Law Enforcement</option><option value="9" class="leg">Law Practice</option><option value="10" class="leg">Legal Services</option><option value="72" class="gov leg">Legislative Office</option><option value="30" class="rec serv tran">Leisure, Travel &amp; Tourism</option><option value="85" class="med rec serv">Libraries</option><option value="116" class="corp tran">Logistics and Supply Chain</option><option value="143" class="good">Luxury Goods &amp; Jewelry</option><option value="55" class="man">Machinery</option><option value="11" class="corp">Management Consulting</option><option value="95" class="tran">Maritime</option><option value="80" class="corp med">Marketing and Advertising</option><option value="97" class="corp">Market Research</option><option value="135" class="cons gov man">Mechanical or Industrial Engineering</option><option value="126" class="med rec">Media Production</option><option value="17" class="hlth">Medical Devices</option><option value="13" class="hlth">Medical Practice</option><option value="139" class="hlth">Mental Health Care</option><option value="71" class="gov">Military</option><option value="56" class="man">Mining &amp; Metals</option><option value="35" class="art med rec">Motion Pictures and Film</option><option value="37" class="art med rec">Museums and Institutions</option><option value="115" class="art rec">Music</option><option value="114" class="gov man tech">Nanotechnology</option><option value="81" class="med rec">Newspapers</option><option value="100" class="org">Nonprofit Organization Management</option><option value="57" class="man">Oil &amp; Energy</option><option value="113" class="med">Online Media</option><option value="123" class="corp">Outsourcing/Offshoring</option><option value="87" class="serv tran">Package/Freight Delivery</option><option value="146" class="good man">Packaging and Containers</option><option value="61" class="man">Paper &amp; Forest Products</option><option value="39" class="art med rec">Performing Arts</option><option value="15" class="hlth tech">Pharmaceuticals</option><option value="131" class="org">Philanthropy</option><option value="136" class="art med rec">Photography</option><option value="117" class="man">Plastics</option><option value="107" class="gov org">Political Organization</option><option value="67" class="edu">Primary/Secondary Education</option><option value="83" class="med rec">Printing</option><option value="105" class="corp">Professional Training &amp; Coaching</option><option value="102" class="corp org">Program Development</option><option value="79" class="gov">Public Policy</option><option value="98" class="corp">Public Relations and Communications</option><option value="78" class="gov">Public Safety</option><option value="82" class="med rec">Publishing</option><option value="62" class="man">Railroad Manufacture</option><option value="64" class="agr">Ranching</option><option value="44" class="cons fin good">Real Estate</option><option value="40" class="rec serv">Recreational Facilities and Services</option><option value="89" class="org serv">Religious Institutions</option><option value="144" class="gov man org">Renewables &amp; Environment</option><option value="70" class="edu gov">Research</option><option value="32" class="rec serv">Restaurants</option><option value="27" class="good man">Retail</option><option value="121" class="corp org serv">Security and Investigations</option><option value="7" class="tech">Semiconductors</option><option value="58" class="man">Shipbuilding</option><option value="20" class="good rec">Sporting Goods</option><option value="33" class="rec">Sports</option><option value="104" class="corp">Staffing and Recruiting</option><option value="22" class="good">Supermarkets</option><option value="8" class="gov tech">Telecommunications</option><option value="60" class="man">Textiles</option><option value="130" class="gov org">Think Tanks</option><option value="21" class="good">Tobacco</option><option value="108" class="corp gov serv">Translation and Localization</option><option value="92" class="tran">Transportation/Trucking/Railroad</option><option value="59" class="man">Utilities</option><option value="106" class="fin tech">Venture Capital &amp; Private Equity</option><option value="16" class="hlth">Veterinary</option><option value="93" class="tran">Warehousing</option><option value="133" class="good">Wholesale</option><option value="142" class="good man rec">Wine and Spirits</option><option value="119" class="tech">Wireless</option><option value="103" class="art med rec">Writing and Editing</option></select>
</li>
</ul>
<script id="control-5c7bd386-74e7-4045-a20a-bbe4c8eab310-6" type="linkedin/control" class="li-control">
            
        /* extlib: _getregionandcityoptions */
          
        
    
            LI.Controls.addControl('control-5c7bd386-74e7-4045-a20a-bbe4c8eab310-6', 'getRegionAndCityOptions', {
        countryFieldId: countryFieldId,
        postalCodeId: postalCodeId,
        resultsContainerId: 'location-display-selection',
        requestURL: requestURL
      });
          </script>
</fieldset>
<p class="actions">
<input type="submit" name="updateBasicInfo" value="Save Changes" id="btn-submit" class="btn-primary"> <span class="alternate">or <a href="/profile/edit?goback=">Go back to Edit My Profile</a></span>
</p>
<input type="hidden" name="locale" value="en_US" id="locale-editBasicInfoForm"><input type="hidden" name="nudgeID" value="" id="nudgeID-editBasicInfoForm"><input type="hidden" name="timestamp" value="1336216166363" id="timestamp-editBasicInfoForm"><input type="hidden" name="useJsonResponse" value="" id="useJsonResponse-editBasicInfoForm"><input type="hidden" name="isSubscriber" value="false" id="isSubscriber-editBasicInfoForm"><input type="hidden" name="isJobSeeker" value="false" id="isJobSeeker-editBasicInfoForm"><input type="hidden" name="showFullLastName" value="F" id="showFullLastName-editBasicInfoForm"><input type="hidden" name="csrfToken" value="ajax:5976521465634906196" id="csrfToken-editBasicInfoForm"><input type="hidden" name="sourceAlias" value="0_2LGi6vTm6uM7Apch1ukkLBuTpd9PHbMHgs66raSHmqK" id="sourceAlias-editBasicInfoForm"><input type="hidden" name="goback" value=".npe_*1_*1_*1_*1_*1_*1" id="goback-editBasicInfoForm">
</form>
<script id="control-d2f76194-7d57-4916-85b1-57bedd362f16-7" type="linkedin/control" class="li-control">
            
        /* extlib: _frontierajaxform */
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'oneOrMoreErrors', 'There were one or more errors in your submission. Please correct the marked fields below.' );
LI.i18n.register( 'unableToProcessRequest', 'We were unable to handle your request. Please try again.' );
        
    
            LI.Controls.addControl('control-d2f76194-7d57-4916-85b1-57bedd362f16-7', 'FrontierAJAXForm', {injectAfter: '#btn-submit', errorId: 'global-error'});
          </script>
</div>
<div id="extra">
<div class="leo-module mod-basic util-nav nav-profile-lang" id="module-id9">
<div class="header"><h2>Speak multiple languages?</h2></div>
<div class="content">
<p>You can create your profile in another language.</p>
<p><a class="add" href="/profile/edit-profile-in-another-language?goback=%2Enpe_*1_*1_*1_*1_*1_*1">Create another profile</a></p>
</div></div>
</div>
</div>
</div>
</div>
<script type="text/javascript">LI.Controls.processQueue();</script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preBodyParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 
 
 
 
 
 
 
 LI_WCT([
 "control-05ccfb4e-8495-495b-9e0a-c376a3f684bf-5",
 "control-5c7bd386-74e7-4045-a20a-bbe4c8eab310-6",
 "control-d2f76194-7d57-4916-85b1-57bedd362f16-7",
 ]);
 
 
 
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postBodyParseControl');
     				}
     			</script>
<div id="footer">
<div class="wrapper">
<ul class="nav-footer">
<li>
<a href="/redir/redirect?url=http%3A%2F%2Flinkedin%2Ecusthelp%2Ecom%2F&amp;urlhash=phDz&amp;trk=help-en" target="_blank" rel="nofollow" class="cust-svc-link"><strong>Help Center</strong></a>
</li>
<li><a href="/redir/redirect?url=http%3A%2F%2Fpress%2Elinkedin%2Ecom%2Fabout&amp;urlhash=ONnW">About</a></li>
<li><a href="/redir/redirect?url=http%3A%2F%2Fblog%2Elinkedin%2Ecom%2F&amp;urlhash=ULil">Blog</a></li>
<li><a href="/company/linkedin/careers?trk=hb_ft_work">Careers</a></li>
<li><a href="/advertising?src=en-all-el-li-hb_ft_ads&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_ft_ads">Advertising</a></li>
<li><a href="/redir/redirect?url=http%3A%2F%2Ftalent%2Elinkedin%2Ecom%2F%3Fpin%3Dtr02&amp;urlhash=zJmW">Recruiting Solutions</a></li>
<li><a href="/static?key=tools&amp;trk=hb_ft_tools">Tools</a></li>
<li><a href="/static?key=mobile&amp;trk=hb_ft_mobile">Mobile</a></li>
<li><a href="/redir/redirect?url=http%3A%2F%2Fdeveloper%2Elinkedin%2Ecom&amp;urlhash=EFv_">Developers</a></li>
<li><a href="/publishers?goback=%2Enpe_*1_*1_*1_*1_*1_*1&amp;trk=hb_ft_pubs">Publishers</a></li>
<li id="nav-utility-lang">
<a href="https://www.linkedin.com/secure/settings">Language</a>
<form name="languageSelectorForm" action="/languageSelector" method="POST" accept-charset="UTF-8" novalidate="novalidate">
<ul id="lang-list">
<li class="in"><a href="https://www.linkedin.com/secure/settings" lang="in"><span>Bahasa Indonesia</span></a></li>
<li class="ms"><a href="https://www.linkedin.com/secure/settings" lang="ms"><span>Bahasa Malaysia</span></a></li>
<li class="cs"><a href="https://www.linkedin.com/secure/settings" lang="cs"><span>etina</span></a></li>
<li class="de"><a href="https://www.linkedin.com/secure/settings" lang="de"><span>Deutsch</span></a></li>
<li class="selected en"><a href="https://www.linkedin.com/secure/settings" lang="en"><strong>English</strong></a></li>
<li class="es"><a href="https://www.linkedin.com/secure/settings" lang="es"><span>Espaol</span></a></li>
<li class="fr"><a href="https://www.linkedin.com/secure/settings" lang="fr"><span>Franais</span></a></li>
<li class="ko"><a href="https://www.linkedin.com/secure/settings" lang="ko"><span></span></a></li>
<li class="it"><a href="https://www.linkedin.com/secure/settings" lang="it"><span>Italiano</span></a></li>
<li class="nl"><a href="https://www.linkedin.com/secure/settings" lang="nl"><span>Nederlands</span></a></li>
<li class="ja"><a href="https://www.linkedin.com/secure/settings" lang="ja"><span></span></a></li>
<li class="pl"><a href="https://www.linkedin.com/secure/settings" lang="pl"><span>Polski</span></a></li>
<li class="pt"><a href="https://www.linkedin.com/secure/settings" lang="pt"><span>Portugus</span></a></li>
<li class="ro"><a href="https://www.linkedin.com/secure/settings" lang="ro"><span>Romn</span></a></li>
<li class="ru"><a href="https://www.linkedin.com/secure/settings" lang="ru"><span></span></a></li>
<li class="sv"><a href="https://www.linkedin.com/secure/settings" lang="sv"><span>Svenska</span></a></li>
<li class="tr"><a href="https://www.linkedin.com/secure/settings" lang="tr"><span>Trke</span></a></li>
</ul>
<input type="hidden" name="i18nLang" value="">
<input type="hidden" name="currenturl" value="http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fedit-basic-info%3Flocale%3Den_US%26goback%3D%252Enpe_*1_*1_*1_*1_*1_*1%26urlhash%3D6Ixn">
</form>
</li>
<li class="last">
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=hb_ft_upyracct"> <strong>Upgrade Your Account</strong></a>
</li>
</ul>
<p id="copyright">LinkedIn Corporation &copy; 2012</p>
<ul id="nav-legal">
<li><a href="/static?key=user_agreement&amp;trk=hb_ft_userag">User Agreement</a></li>
<li><a href="/static?key=privacy_policy&amp;trk=hb_ft_priv">Privacy Policy</a></li>
<li class=""><a href="/static?key=copyright_policy&amp;trk=hb_ft_copy">Copyright Policy</a></li>
<li class="last" id="feedback-request">
<a href="/redir/redirect?url=http%3A%2F%2Flinkedin%2Ecusthelp%2Ecom%2F&amp;urlhash=phDz&amp;trk=help-en" target="_blank" rel="nofollow"><strong>Send Feedback</strong></a>
<script id="control-9eb6a2d5-e977-4741-a779-66bf671f8e12-9" type="linkedin/control" class="li-control">
 
 
 LI.Controls.setInitialized(YDom.get('control-9eb6a2d5-e977-4741-a779-66bf671f8e12-9'));
 </script>
<script type="linkedin/control" data-li-on="click">
 {"name":"Dialog","config": {
 name:'feedback-dialog',
 type:'task-modeless',
 content:{
 url: LI.FeedbackDialogDependencies.url,
 title:'Send Feedback'
 },
 dependencies: 'LI.FeedbackDialogDependencies'
 }
 
 }
 </script>
</li>
</ul>
</div>
</div>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preFooterParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 
 
 
 
 
 LI_WCT([
 "control-9eb6a2d5-e977-4741-a779-66bf671f8e12-9",
 ]);
 
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postFooterParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 if ( typeof( oUISettings ) !== 'undefined' ) {
 oUISettings.saveSettingsURL = "/lite/ui-settings-save?csrfToken=ajax%3A5976521465634906196";
 }

 if ( typeof( WebTracking ) !== 'undefined' ) {
 WebTracking.saveWebActionTrackURL = "/lite/web-action-track?csrfToken=ajax%3A5976521465634906196";
 }
 if ( typeof( SearchWebTracking ) !== 'undefined' ) {
 SearchWebTracking.saveSearchWebActionTrackURL = "/wt?csrfToken=ajax%3A5976521465634906196"; 
 }
 
</script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preFooterGlobalJS');
     				}
     			</script>
<script type="text/javascript" src="http://s3.licdn.com/scds/concat/common/js?h=tyqygy2h5p5jhxcg0qriutiq-ak9xsat97hnphj0epw04b5bra-3w8dbmcvgln65o2pezqqd69la-9gazpl4u97ac028padk30w0hs-6fpgvxfmet1dgazyby9ub4rnk"></script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postFooterGlobalJS');
     				}
     			</script>
<script type="text/javascript" src="http://s3.licdn.com/scds/concat/common/js?h=7nhn6ycbvnz80dydsu88wbuk"></script>
<script type="text/javascript">LI.Controls.processQueue();</script>
<script type="text/javascript">
  LI.define('Tracking.Quantcast');
  LI.Tracking.Quantcast = function() {
    _qoptions = { qacct:"p-b3sGjMtCFrexE" };
    YAHOO.util.Get.script( 'http://edge.quantserve.com/quant.js' );
  };
  YEvent.on( window, 'load', LI.Tracking.Quantcast);
</script>
<noscript>
<a href="http://www.quantcast.com/p-b3sGjMtCFrexE" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-b3sGjMtCFrexE.gif" style="display: none;" height="1" width="1" alt=""/></a>
</noscript>
<script type="text/javascript">
  LI.define('Tracking.Comscore');
  LI.Tracking.Comscore = function() {
    YAHOO.util.Get.script( 'http://b.scorecardresearch.com/beacon.js', {
      onSuccess: function() {
        COMSCORE.beacon({ c1:2, c2:6402952, c3:"", c4:"", c5:"", c6:"", c15:"" });
      }
    });
  };
  YEvent.on( window, 'load', LI.Tracking.Comscore);
</script>
<noscript>
<img src="http://b.scorecardresearch.com/b?c1=2&amp;c2=6402952&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cv=1.3&amp;cj=1" style="display:none" width="0" height="0" alt=""/>
</noscript>
<script type="text/javascript">
  YEvent.on( window, 'load', function() {
    (function () {
      var protocol = 'http:';
      var d = new Image(1, 1);
      d.onerror = d.onload = function () { d.onerror = d.onload = null; };    
      d.src = [
        protocol,
        "//secure-us.imrworldwide.com/cgi-bin/m?ci=us-603751h&cg=0&cc=1&si=", 
        escape(window.location.href), "&rp=", 
        escape(document.referrer),   
        "&ts=compact&rnd=", 
        (new Date()).getTime()
      ].join('');
    })();
  });
</script>
<noscript>
<img src="http://secure-us.imrworldwide.com/cgi-bin/m?ci=us-603751h&cg=0&cc=1&ts=noscript" width="1" height="1" alt="" style="display:none"/>
</noscript>
<img src="http://s4.licdn.com/scds/common/u/img/tracker.gif?id=sct--1482057624" width="1" height="1" alt="">
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postTrackerPixel');
     				}
     			</script>
<script type="text/javascript">
 if(typeof(WEBTRACK_GLOBAL) !== "undefined") {
 WEBTRACK_GLOBAL.set('serverStartTime', ('1341050489.948')*1000);
 WEBTRACK_GLOBAL.set('serverFirstFlushTime', ('1341050489.993')*1000);
 WEBTRACK_GLOBAL.set('serverEndTime', ('1341050490.006')*1000);
 }
 </script>
	<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
	<script src="/javascripts/jRecorder/jRecorder.js"></script>

	<script src="/javascripts/record.js"> </script>
  <script type="text/javascript">
    $('[name=inAudio]:radio').click(function() { if($(this).val() == 'N'){$('.j-enable').attr('disabled', 'disabled');} else{$('.j-enable').removeAttr('disabled');} });
  </script>
</body>
</html>
