<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/javascripts/record.js"></script>
    <script type="text/javascript" src="/javascripts/jRecorder/jRecorder.js"></script>
  </head>
  <body>
    <input type="hidden" value="<%= @profile_id %>" id="user_id"></input>
    <input type="hidden" value="<%= @filename %>" id="file_name"></input>
    <% if (@is_owner == 'true') %>
      <input type="button" value="" id="record" style="background: url(&quot;/images/abled-mike.png&quot;) no-repeat scroll 0pt 0pt transparent; border: medium none; width: 32px; height: 32px;margin-left: 195px;"> </input>
      <input type="button" value="" id="replay" style="background: url(&quot;/images/replay-abled.png&quot;) no-repeat scroll 0pt 0pt transparent; border: medium none; width: 32px; height: 32px;margin-left: 14px;"> </input>
      <input type="button" value="" id="save" style="background: url(&quot;/images/save-abled.png&quot;) no-repeat scroll 0pt 0pt transparent; border: medium none; width: 32px; height: 32px;margin-left: 14px;"></input>
    <% end %>
    <% if @present %>
      <script type="text/javascript" src="/javascripts/soundmanager2.js"></script>
      <script type="text/javascript">
        soundManager.setup({
          debugMode: true,
          flashLoadTimeout: 10000,
          wmode: 'transparent',
          allowScriptAccess: 'always',
          useHTML5Audio: true,
          preferFlash: false,
          flashVersion: 9,
          url: '/javascripts/swf/',
          onready: function() {
          var mySound = soundManager.createSound({
          id: 'aSound',
          url: "/audio/<%= @profile_id %>.mp3",
          autoLoad: true,
          onload: function() {
          console.log('The sound '+this.id+' loaded!');
          },
          volume: 100
          });
          $('#play').click(function(){mySound.play();});
          },
          ontimeout: function() {
           }
        });
      </script>
      <input type="button" value="" id="play" style="background: url(&quot;/images/play.png&quot;) no-repeat scroll 0pt 0pt transparent; border: medium none; width: 32px; height: 32px;margin-left: 14px;"> </input>
    <% end %>
  </body>
</html>
