<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="http://localhost:9393/javascripts/greaseRecord.js"></script>
    <script type="text/javascript" src="http://localhost:9393/javascripts/jRecorder/jRecorder.js"></script>
  </head>
  <body>
    <input type="button" value="record" id="record"> </input>
    <input type="button" value="replay" id="replay"> </input>
    <input type="button" value="save" id="save"></input>
  </body>
</html>
