<html>
<head>
     <title> TalkIn </title>
     <link href="http://public.slidesharecdn.com/stylesheets/global.css?27533" media="screen" rel="stylesheet" type="text/css" />
     <style type="text/css">
    
        .logoutWrapper      {  width: 960px; color: #677876; }
        .rightColumn        { margin: 40px 0 40px 280px;}
        .mobileDevices,
        .rightColumn,
        .qrcode             { float: left;  }
        
       
        h1                  { color: #677876; font-family: Georgia,sans-serif; font-size:32px; margin: 8px 0 20px; }
        h3                  { color: #8f9c9a; margin-bottom:2px; }
    
    .qrWrapper              { background: url("images/background.png") repeat; border: 1px solid #ccc; border-radius: 8px; float: left; padding: 18px 18px 8px;                                                                                     text-align: center; width: 310px; }
    
    .qrRightColumn          { float: left; margin: 6px 0 0 10px; width: 198px; }
    .qrRightColumn span     { display: block; }
                                    
    .scan                   {font-size: 19px; text-shadow: 1px 1px 1px #fff; }
    .or                     {background: #DEE8E6; color: #8F9C9A;font-size:14px;font-style:italic;left: 84px;position: relative;top: -3px;width: 30px; z-index:10;}
    .slideshare             {font-size:16px;position: relative;top: -20px;}
    .logback                {border-top: 1px solid #ccc; float: right;margin-top:39px;width: 679px; padding-top:9px;}
    .rule                   {border-top: 2px solid #ddd;margin: 0 136 0 17px; position: relative; top: -14px; width: 162px;}
    </style>
</head>
<body> 
 
    <div class="logoutWrapper">
        <img style=" margin: 57px 52px 0 252px;"src="http://i47.tinypic.com/2i882tt.png" alt="Name" width="706" height="222" class="mobileDevices" />
         <span class= "logback">About: <br>TalkIn is about making sure that the other human always gets your name right. What better a place to make sure of it than the largest network for professionals - LinkedIn? Be it talking to your boss, your employee or introducing the keynote speaker, you would never have to get embarrassed ever again!</span> 
        <div class="rightColumn">
            <h1> Install in three easy steps!  </h1>
            <h3> 1. <a href="https://addons.mozilla.org/firefox/addon/greasemonkey/" target="_blank">Install</a> GreaseMonkey from Firefox add-ons and <strong>restart the browser</strong>.</h3>(supported in chrome)<br>
              <h3> 2. Install the script from  <a href="http://alhomora.herokuapp.com/javascripts/talkin.user.js" target="_blank">TalkIn</a> </strong>.</h3><br>
              <h3>3. Open your LinkedIn profile in a new tab and get started! </h3>
       </div>
</body>
</html> 
