<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="ie ie6 lte9 lte8 lte7 os-mac"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="ie ie7 lte9 lte8 lte7 os-mac"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie ie8 lte9 lte8 os-mac"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie ie9 lte9 os-mac"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="os-mac"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="os-mac"> <!--<![endif]-->
<head>
<script type="text/javascript">
 if (!window.i18n) { window.i18n = {}; }
 // global webtrack object for timing information
 var WEBTRACK_GLOBAL = {
 softTimings: {},
 hardTimings: {},
 seedTime: null,
 now: function() { return (new Date()).getTime(); },
 lapse: function() { return this.now() - this.seedTime; },
 get: function(name) { return (this.hardTimings[name]) ? this.hardTimings[name] : this.softTimings[name]; },
 getSoftTimings: function() { return this.softTimings; },
 set: function(name, val) { this.hardTimings[name] = (val*-1 > 0) ? null : val*1; },
 record: function(name) { this.softTimings[name] = this.now(); },
 clean: function() {} // FIXME
 };
 WEBTRACK_GLOBAL.seedTime = WEBTRACK_GLOBAL.now();
 </script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta name="pageImpressionID" content="3a64fd4c-7261-4386-8b55-c4647f94a260">
<meta name="pageKey" content="nprofile-view-success">
<meta name="analyticsURL" content="/analytics/noauthtracker">
<link rel="openid.server" href="https://www.linkedin.com/uas/openid/authorize">
<link rel="apple-touch-icon-precomposed" href="/img/icon/apple-touch-icon.png">
<![if (!IE)|(lt IE 9)]>
<link rel="shortcut icon" type="image/ico" href="http://s3.licdn.com/scds/common/u/img/favicon_v3.ico">
<![endif]>
<!--[if gte IE 9]>
 <link rel="shortcut icon" type="image/ico" href="http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico">
 <meta name="msapplication-task" content="name=Home;action-uri=/home?trk=ie_sm_home;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Inbox;action-uri=/inbox/messages/received?trk=ie_sm_inbox;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Profile;action-uri=/profile/edit?trk=ie_sm_pro;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Connections;action-uri=/connections?trk=ie_sm_cnts;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <meta name="msapplication-task" content="name=My Groups;action-uri=/myGroups?trk=ie_sm_grps;icon-uri=http://s3.licdn.com/scds/common/u/img/favicon_ie9.ico"/>
 <![endif]-->
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preGlobalHeadCSS');
     				}
     			</script>
<link rel="stylesheet" type="text/css" href="http://s3.licdn.com/scds/concat/common/css?h=3bifs78lai5i0ndyj1ew7316e-c8kkvmvykvq2ncgxoqb13d2by-4cff62fozoxsbiyfz40j584kw-c5839km74lqu75dnankln5rgt-4uu2pkz5u0jch61r2nhpyyrn8-cosi44cy9brhzt93jjbjbb8v3-bf0i9bv8oqeq4shjzvzhms72i-4om4nn3a2z730xs82d78xj3be-4newiqesz8x3qjgqezmhywsri-ct4kfyj4tquup0bvqhttvymms-7h14gyi8sjdyzzg0ztg8pw3qk-36m1n5ng9jku7vwl89ozmcdj7-9zbbsrdszts09by60it4vuo3q-6ar98u770i0clgj9lu8zxe6dx-901u057v2k19l3bz80xj15yhf-34ohz9lv9h6cjd8zhbmfk3tbw-5pnxeosk9ql3alz2yvw5hhirb-6ceg763nywwe227qy2g9w2q4u-4z5x4qkl5qhtmn810nwa1hmnd">
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postGlobalHeadCSS');
     				}
     			</script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preGlobalHeadJS');
     				}
     			</script>
<script type="text/javascript" src="http://s3.licdn.com/scds/concat/common/js?h=dfoaudjrk6rbf82f45bz5crwi-62og8s54488owngg0s7escdit-c8ha6zrgpgcni7poa5ctye7il-djim7uyllidc9gta745y2wo5m-51dv6schthjydhvcv6rxvospp-d7z5zqt26qe7ht91f8494hqx5-e9rsfv7b5gx0bk0tln31dx3sq-2r5gveucqe4lsolc3n0oljsn1-8v2hz0euzy8m1tk5d6tfrn6j-b88qxy99s08xoes3weacd08uc-5ofp0kqsh15p8baptquqc44fk-5jtrz5noan83x6iogrfoq65dz-6m96w308crq8i2wt3kmhannii-4z2vygsszomlttdsxgo7qywwb-7z1x1cw5qh8v39jh87ikiv8zy-arafsrdsrssomfq13dee303jf-a92cw2qhgpy3lpkcwz0bawszf-6wn0gsvf2d6b56p31cloxdg4f-7yly2a0gn0x4rrgw1qqq532hr-4c6mz6u5rinti47gswwanj74j-b8qw8xnuiytx3fbumuzh0db26-hez188aqga9xu5gf4dxcwz20-anaxa6l712w7m4gp8089vyb5m-3lbadbk6cekuctkjz51m39iv1-80vg9koywz84zoon9sjflbru0-4xlkttqdqrmvbmr35jaga18yy-8emkumbgk7so2avybzcwqtt4q-57sur4cj634ll9tk38imgvc6g-68zzt5h5wxd16kqsxg5af8znv-9puf8y7tgjvse2oqtgkdb4wcj-33uehkbudateqtejuzay8onku-147tpi0wxd9ixjtep3lkaqnlg-3lrfksnkrzosdvcxbqwguwmif-ce7baye89ce3jzklj7tbf83hn-bh3dmdyp0bfpwr21rd31b5dil"></script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postGlobalHeadJS');
     				}
     			</script>
<script>
 LI.comboBaseUrl = "http://s3.licdn.com/scds/concat/common/";
 LI.staticUrlHashEnabled = true;
 </script>
<link rel="stylesheet" type="text/css" href="http://s3.licdn.com/scds/concat/common/css?h=agnlwig063wog6rfequeqcl0d-2pkp5ymkf2bt6pt2kpsxpw717-2j25ctuvvz6qgbbhw6e1f7uqb-dbcxcwzgraa6yv9hqn4z5oxa8-ext0znjcfndz4dtdlu74ttssh-7d07btx8jmbek0g5bggcns4mq-10qtw1bk9mqn8s8l88diju96c-6253uyae4n8ktnrrjw195vggu-d2iv971as6udy31fiivpxm9fj-3ow53h4yk10eronu9r0t1iffd-950uxn1fh2ugi5508jurt1afp">
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('prePageHeadJS');
     				}
     			</script>
<script type="text/javascript" src="http://s4.licdn.com/scds/concat/common/js?h=7nhn6ycbvnz80dydsu88wbuk-1kjdwxpxv0c3z97afuz9dlr9g-cd1s30ibf5lq9v0zihmixzr3f-8owqj6cfq4e00l6rsoih5ezu1-9or0jtu3rpp2wzph0xje2bedu-8ms0j2fi9t63gxm2tl92j5vdo-3jeoz0ruk3n7ckfr5srwn0nca"></script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postPageHeadJS');
     				}
     			</script>
<script type="text/javascript"></script><script type="text/javascript">document.cookie='lw="1340992479"; expires=Fri, 29 Jun 2012 18:34:40 UTC; domain=linkedin.com; version=0; path=/;';document.cookie='lang="v=2&lang=en&c="; domain=linkedin.com; version=0; path=/;';</script><script type="text/javascript">
//InSlow namespace
if(!InSlow || typeof(InSlow) === 'undefined' ) var InSlow = {};
InSlow.scriptUrl = ["http://s4.licdn.com/scds/concat/common/js?h=cd6jxshse3jo8sh8gnkm69rvy"]
    [0];
</script>
<title>Neha Jain | LinkedIn</title>
<link rel="stylesheet" type="text/css" href="http://s3.licdn.com/scds/concat/common/css?h=b1io9ndljf1bvpack85gyxhv4-56f89xmwlew3pcnodoothk3s6-dhog2e5h8scik4whkpqccnzou-dmo1gwj6nlhvdvzx7rmluambv">
<meta name="LinkedInBookmarkType" content="profile">
<meta name="ShortTitle" content="Neha Jain">
<meta name="Description" content="Neha Jain: Software Developer at SlideShare in the Information Technology and Services industry (Kanpur Area, India)">
<meta name="UniqueID" content="59450163">
<meta name="SaveURL" content="/profile/view?id=59450163&amp;authType=name&amp;authToken=8bNz">
</head>
<body class="en member v2 view-my-profile chrome-v3" id="pagekey-nprofile-view-success">
<input id="ubpTracker" type="hidden"/>
<input id="inSlowConfig" type="hidden" value="false"/>
<script type="text/javascript">document.body.className += " js ";</script>
<script>
 LI.define( 'InboxNav.Styles' );
 LI.InboxNav.Styles = 
 ["http://s3.licdn.com/scds/concat/common/css?h=85ss7ena9xl56dqkugat4apyj"]
 ;
 LI.define( 'InboxNav.Scripts' );
 LI.InboxNav.Scripts = 
 ["http://s3.licdn.com/scds/concat/common/js?h=em1445ff7g1bpi7y8m5y0fje5-aaod7sf2exa7qhhbzubedjht1-kxa83msy4hn0z2y5iy9sil8r-ak9xsat97hnphj0epw04b5bra-bu7waj7pkd6opqbxnohckpror-9o1wvcj5wkran8uykwcojy3cj-7h5aqsjhxzbftff18xwmd1us5"]
 ;
 </script>
<div id="header" class="global-nav member" role="banner">
<div class="top-nav">
<div class="wrapper">
<ul class="util" role="navigation">
<li class="tab username-cont">
<a href="/profile/edit?trk=h-gnav-name-link-0" class="tab-name username">
Neha Jain <span class="menu-indicator"></span>
</a>
<ul class="menu">
<li class="username-cont">
<a href="/view/edit_profile/<%= @name %>" class="tab-name username">
Neha Jain <span class="menu-indicator"></span>
</a>
</li>
<li id="nav-utility-acct"><a href="https://www.linkedin.com/secure/settings?trk=hb_acc">Settings</a></li>
<li><a href="/mnyfe/subscriptionv2?trk=mny-subs-spewc-logout-upgrade">Upgrade Account</a></li>
<li id="nav-utility-auth"><a href="https://www.linkedin.com/uas/logout?session_full_logout=&amp;csrfToken=ajax%3A5976521465634906196&amp;trk=hb_signout">Sign Out</a></li>
</ul>
</li>
<li class="jump"><a href="#main">Skip to Content</a></li>
<li class="jump"><a href="#global-search">Search</a></li>
<li class="add-connection-cont"><a href="https://www.linkedin.com/secure/importAndInvite?trk=hb_add_conn" class="add-conx"><strong>Add Connections</strong></a></li>
<li class="signout"><a href="https://www.linkedin.com/secure/settings?trk=hb_acc">Settings</a></li>
<li class="signout"><a href="https://www.linkedin.com/uas/logout?session_full_logout=&amp;csrfToken=ajax%3A5976521465634906196&amp;trk=hb_signout">Sign Out</a></li>
</ul>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('clientTimeToFirstPixel');
     				}
     			</script>
<h1 class="logo"><a href="http://www.linkedin.com/?trk=hb-0-h-logo" title="Home"> LinkedIn</a></h1>
<div class="account">
<span>
<span>Account Type:</span> Basic |
</span>
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=home_level">Upgrade</a>
</div>
</div>
</div>
<div class="bar">
<div class="wrapper">
<ul class="nav" role="navigation">
<li id="nav-primary-home" class="tab ">
<a href="/home?trk=hb_tab_home_top" class="tab-name"><span>Home</span></a>
<ul class="menu">
<li><a href="/home?trk=hb_tab_home">LinkedIn Home</a></li>
<li>
<a href="/advertising?src=en-all-el-li-hb_tab_ads&amp;utm_medium=el&amp;utm_source=li&amp;utm_campaign=hb_tab_ads&amp;trk=hb_tab_ads">Advertise on LinkedIn</a>
</li>
</ul>
</li>
<li id="nav-primary-profile" class="tab selected">
<a href="/profile/edit?trk=hb_tab_pro_top" class="tab-name"><span>Profile</span></a>
<ul class="menu">
  <li><a href="/view/edit_profile/<%= @name %>">Edit Profile</a></li>
<li><a href="/profile/view?id=59450163&amp;trk=tab_pro">View Profile</a></li>
<li><a href="/references?mrs=">Recommendations</a></li>
<li><a href="/organizer?trk=hb_tab_organizer">Profile Organizer</a></li>
</ul>
</li>
<li id="nav-primary-contacts" class="tab ">
<a href="/connections?trk=hb_tab_cnts_top" class="tab-name"><span>Contacts</span></a>
<ul class="menu">
<li><a href="/connections?trk=hb_tab_connections">Connections</a></li>
<li><a href="https://www.linkedin.com/secure/importAndInvite?trk=hb_add_conn">Add Connections</a></li>
<li><a href="/network?trk=hb_tab_net">Network Statistics</a></li>
<li class=" separator">
<a href="/college/?eduSchool=HBTI&amp;eduEnd=2010&amp;edurec=true&amp;trk=hb_tab_clsmts">HBTI</a>
</li>
<li class="">
<a href="/college/?eduSchool=20331&amp;eduEnd=2005&amp;edurec=true&amp;trk=hb_tab_clsmts">Kendriya Vidyalaya</a>
</li>
<li class="">
<a href="/college/?eduSchool=Harmilap+Mission+school&amp;eduEnd=2003&amp;edurec=true&amp;trk=hb_tab_clsmts">Harmilap Mission school</a>
</li>
</ul>
</li>
<li id="nav-primary-groups" class="tab ">
<a href="/myGroups?trk=hb_side_grps_top" class="tab-name"><span>Groups</span></a>
<ul class="menu">
<li><a href="/myGroups?trk=hb_side_mygrps">Your Groups</a></li>
<li><a href="/groupsDirectory?recommendations=&amp;trk=hb_side_gyml">Groups You May Like</a></li>
<li><a href="/groupsDirectory?trk=hb_side_grpsdir">Groups Directory</a></li>
<li><a href="/createGroup?displayCreate=&amp;displayCreate=&amp;trk=hb_side_crgrp">Create a Group</a></li>
<li class="user-group separator"><a href="/groups?gid=128541&amp;trk=hb_side_g">FOSS.IN</a></li>
<li class="user-group"><a href="/groups?gid=25827&amp;trk=hb_side_g">Python Community</a></li>
<li class="user-group"><a href="/groups?gid=1846027&amp;trk=hb_side_g">Python Professionals</a></li>
<li><a href="/myGroups?trk=hb_side_seegrps">See all &#187;</a></li>
</ul>
</li>
<li id="nav-primary-jobs" class="tab ">
<a href="/jobs?displayHome=&amp;trk=hb_tab_jobs_top" class="tab-name"><span>Jobs</span></a>
<ul class="menu">
<li><a href="/jobs?displayHome=&amp;trk=hb_tab_findjobs">Find Jobs</a></li>
<li>
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;family=jss&amp;trk=hb_tab_jss">Job Seeker Premium</a>
</li>
<li><a href="/studentjobs?trk=hb_tab_clgjobs">Students and Recent Grads</a></li>
<li class="separator"><a href="/jobs/post?editAttributes=&amp;trk=hb_tab_postjob">Post a Job</a></li>
<li><a href="/hiring?manageActives=&amp;trk=hb_tab_mngjob">Manage Jobs</a></li>
<li><a href="/mnyfe/subscriptionv2?displayProducts=&amp;family=talent&amp;c=25&amp;trk=lnl_job_nav">Find Talent</a></li>
<li class="separator"><a href="/redir/redirect?url=http%3A%2F%2Ftalent%2Elinkedin%2Ecom%2Frecruiter%3Fpin%3DLINav&amp;urlhash=jcjH" target="_blank">Recruiting Solutions</a></li>
</ul>
</li>
<li id="nav-primary-inbox" class="tab ">
<a href="/inbox/messages/received?trk=hb_tab_inbox_top" class="tab-name">
<span>
Inbox
<span id="nav-primary-inbox-item-total" title="34" class="count">
34 </span>
</span>
</a>
<ul class="menu">
<li><a href="/inbox/invitations/pending">Accept Invitations</a></li>
<li>
<a href="/inbox/messages/received?trk=hd_tab_received">
View Messages
<span id="inbox-received-unread-total">(34)</span>
</a>
</li>
<li><a href="/msgToConns?displayCreate=&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=hb_tab_cmpmsg">Compose Message</a></li>
<li class="separator"><a href="/inbox/messages/received?trk=hd_tab_received">Inbox</a></li>
<li><a href="/inbox/messages/sent?trk=hd_tab_sent">Sent</a></li>
<li><a href="/inbox/messages/archive?trk=hd_tab_archive">Archived</a></li>
</ul>
</li>
<li id="nav-primary-company" class="tab ">
<a href="/companies?trk=hb_tab_compy" class="tab-name"><span>Companies</span></a>
<ul id="nav-primary-companies-menu" class="menu">
<li><a href="/companies?trk=hb_tab_compy">Find Companies</a></li>
<li><a href="/companies?dspFllwed=&amp;trk=hb_tab_compy_flw">Companies You Follow</a></li>
</ul>
</li>
<li id="nav-primary-news" class="tab ">
<a href="/today/?trk=hb_tab_news" class="tab-name"><span>News</span></a>
<ul id="nav-primary-news-menu" class="menu">
<li><a href="/today/?trk=hb_tab_to">LinkedIn Today</a></li>
<li><a href="/today/saved?trk=hb_tab_svd">Saved Articles</a></li>
<li><a href="/signal/?trk=hb_tab_sgnl">Signal</a></li>
</ul>
</li>
<li id="nav-primary-more" class="tab ">
<a href="#nav-primary-more-menu" class="tab-name"><span>More</span></a>
<ul id="nav-primary-more-menu" class="menu">
<li><a href="/answers?trk=hb_tab_ayn">Answers</a></li>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Flearn%2Elinkedin%2Ecom%2F&amp;urlhash=YK4z">Learning Center</a>
</li>
<li><a href="http://www.linkedin.com/skills/?trk=skills-global-nav">Skills & Expertise</a></li>
<li><a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=nav_more_end_middle">Upgrade Your Account</a></li>
<li id="nav-my-apps" class="separator"><span class="title">Your Applications</span>
<ul>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=20&amp;_applicationId=1700&amp;_ownerId=59450163&amp;osUrlHash=-IYX&amp;trk=hb_side_apps" name="bar">Reading List by Amazon</a>
</li>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=30&amp;_applicationId=2000&amp;_ownerId=59450163&amp;osUrlHash=PQ-3&amp;trk=hb_side_apps" name="bar">Events</a>
</li>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=80&amp;_applicationId=1900&amp;_ownerId=59450163&amp;osUrlHash=zdNZ&amp;trk=hb_side_apps" name="bar">Polls</a>
</li>
<li>
<a href="/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=425837630&amp;_applicationId=1200&amp;_ownerId=59450163&amp;osUrlHash=3xjJ&amp;trk=hb_side_apps" name="bar">SlideShare Presentations</a>
</li>
<li><a href="/static?key=application_directory&amp;trk=hb_side_apps">Get More Applications...</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<form id="global-search" role="search" action="/commonSearch" method="post" accept-charset="UTF-8" name="commonSearch" class="global-search ">
<fieldset>
<legend><span>Find People, Jobs, Answers, and More</span></legend>
<label for="main-search-category">Search for:</label>
<div class="search-scope">
<select name="type" id="main-search-category" class="search-category">
<option class="/search?trk=advsrch" data-li-search-action="/search/fpsearch" title="Keyword, name, company or title" value="people">People</option>
<option data-li-search-action="/signal/" title="Keyword, company or job title" title="Keyword" value="updates">Updates</option>
<option class="/jobs?search=&amp;trk=hb_advjs" data-li-search-action="/jsearch" title="Keyword, company or job title" value="jobs">Jobs</option>
<option data-li-search-action="/csearch/results" title="Keyword" value="companies">Companies</option>
<option class="/searchAnswers?search=&amp;trk=advsrch" title="Keyword" value="answers">Answers</option>
<option title="Keyword" value="inbox">Inbox</option>
<option title="Keyword" value="groups">Groups</option>
</select>
<ul>
<li class="separator suggestion-toggle state-on">
<div>
<span class="off-toggle">Turn off suggestions</span>
<span class="on-toggle">Turn on suggestions</span>
</div>
</li>
</ul>
</div>
<script id="control-36ef790e-2516-45d2-a1c9-acccf40047a2-1" type="linkedin/control" class="li-control">
 
 /* extlib: _styleddropdown */
 
 
 
 LI.Controls.addControl('control-36ef790e-2516-45d2-a1c9-acccf40047a2-1', 'StyledDropdown', {
 name: 'universal-search-selector',
 align: 'right',
 listClass: 'search-selector'
 });
 </script>
<span class="search-box-container">
<span id="search-autocomplete-container" title="Tip: You can also search by keyword, company, school..." class="/typeahead">
<label for="main-search-box" class="ghost">Search...</label>
<script id="control-dd2332d2-9a57-405f-815c-0174785f886e-2" type="linkedin/control" class="li-control">
 
 /* extlib: _ghostlabel */
 
 
 
 LI.Controls.addControl('control-dd2332d2-9a57-405f-815c-0174785f886e-2', 'GhostLabel', {});
 </script>
<input name="keywords" id="main-search-box" class="search-term" type="text" value="" autocomplete="off">
<input name="pplSearchOrigin" type="hidden" value="GLHD">
<input name="pageKey" type="hidden" value="nprofile-view-success">
<span id="search-typeahead-container"></span>
</span>
<input name="search" value="Search" class="search-go" type="submit">
</span>
</fieldset>
<a id="search-link" class="search-link" href="/search?trk=advsrch">Advanced</a>
</form>
<script id="control-69cda526-efbf-4ca0-97a4-a79b477f7bbc-3" type="linkedin/control" class="li-control">
 
 /* extlib: _universalsearch */
 LI.i18n.register( 'universal-search-connections', 'Connections' );
LI.i18n.register( 'universal-search-companies', 'Companies' );
LI.i18n.register( 'universal-search-groups', 'Groups' );
LI.i18n.register( 'universal-search-features', 'Features' );
LI.i18n.register( 'universal-search-skills', 'Skills' );
LI.i18n.register( 'universal-search-skill', 'Skill' );
LI.i18n.register( 'universal-search-polls', 'Polls' );
LI.i18n.register( 'universal-search-polls-pro', '<strong>Poll<\/strong> LinkedIn Professionals' );
LI.i18n.register( 'universal-search-suggestions', 'Suggestions' );


      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'typeahead2-no-matching-results', 'No matching results' );
LI.i18n.register( 'typeahead2-search-connections', 'Connections' );
LI.i18n.register( 'typeahead2-search-companies', 'Companies' );
LI.i18n.register( 'typeahead2-search-groups', 'Groups' );
LI.i18n.register( 'typeahead2-search-features', 'Features' );
LI.i18n.register( 'typeahead2-search-skills', 'Skills' );
LI.i18n.register( 'typeahead2-search-skill', 'Skill' );
LI.i18n.register( 'typeahead2-search-polls', 'Polls' );
LI.i18n.register( 'typeahead2-search-polls-pro', '<strong>Poll<\/strong> LinkedIn Professionals' );
LI.i18n.register( 'typeahead2-search-suggestions', 'Suggestions' );

LI.TypeaheadDataSourceUrls = {
  COMPANY: "/ta/company",
  INDUSTRY: "/ta/industry",
  REGION: "/ta/region",
  GROUP: "/ta/group",
  JOB_TITLE: "/ta/titleV2",
  JOB_FUNCTION: "/ta/jobfunc",
  SKILL: "/ta/skill",
  LANGUAGE: "/ta/language",
  SCHOOL: "/ta/school",
  DEGREE: "/ta/degree",
  FIELD_OF_STUDY: "/ta/fieldofstudy",
  MY_NETWORK: "/ta/mynetwork",
  MY_GROUP: "/typeahead/mygroup",
  FIRST_DEGREE_MY_NETWORK: "/typeahead/mynetwork",
  SITEFEATURE: "/ta/sitefeature",
  FEDERATOR: "/ta/federator"
};


     
      
  
  
  
  

    
      
        
          
            
                
              
          
        
      
    
    

LI.Typeahead2Dependencies = {
  scripts: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/js?h=4t3lj6o9ozudl19z7zz7zdvq5-1brxu2aud19hmfng5w2tjv0tk-1vtk4aa5ouknouwmckm72snzw-5ubs63l44y2rup8u2a7irdnen"]
              
            
          
        
      
    
};


 
 
 LI.Controls.addControl('control-69cda526-efbf-4ca0-97a4-a79b477f7bbc-3', 'UniversalSearch', {
 field: "main-search-box",
 user_id: 59450163,
 userProfileImage: "http://m3.licdn.com/mpr/mpr/shrink_40_40/p/2/000/03e/2ad/0eddced.jpg",
 pollsAvatar: "http://s4.licdn.com/scds/common/u/img/icon/icon_q_30x30.gif",
 pollsLink: "/osview/canvas?_ch_page_id=1&amp;_ch_panel_id=1&amp;_ch_app_id=1900&amp;_applicationId=1900&amp;_ownerId=0&amp;osUrlHash=E3TZ",
 pollsTriggerWords: "what,where,how,who,when,why,which,are,arent,aren't,can,cant,can't,could,couldnt,couldn't,do,does,doesnt,doesn't,dont,don't,had,hadnt,hadn't,has,hasnt,hasn't,have,havent,haven't,hows,how's,if,is,isnt,isn't,should,shouldnt,shouldn't,whats,what's,whens,when's,wheres,where's,whom,whos,who's,whose,whys,why's,wont,won't,would,wouldnt,wouldn't",
 searchTypeMenu: "main-search-category",
 leoTypeaheadRoot: "/typeahead",
 enableTypeahead: "true",
 searchLink: "search-link",
 isLiquorTest: false,
 loadingImgSrc: "http://s3.licdn.com/scds/common/u/img/anim/anim_loading_16x16.gif",
 useTypeahead2: false,
 includeSearchAssist: false
 });
 </script>
</div>
</div>
</div>
<script id="control-2663b81b-392b-478e-be0e-b00dc67f1b0e-4" type="linkedin/control" class="li-control">
 
 /* extlib: _navigationmenu */
 
 
 
 LI.Controls.addControl('control-2663b81b-392b-478e-be0e-b00dc67f1b0e-4', 'NavigationMenu', {
 remoteMenus : {
 inbox : {
 id : 'nav-primary-inbox',
 url : '\/inbox\/summary',
 css : LI.InboxNav.Styles,
 js : LI.InboxNav.Scripts
 },
 company : {
 id : 'nav-primary-company',
 url : '/company/chrome/nav'
 },
 favorites : {
 id : 'nav-primary-favorites',
 url : '',
 cacheResults : false
 },
 jobs : {
 id : 'nav-primary-jobs',
 url : '/jobs?getChromeNav='
 }
 }
 });
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preHeaderParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 
 
 
 
 
 
 
 
 
 LI_WCT([
 "control-36ef790e-2516-45d2-a1c9-acccf40047a2-1",
 "control-dd2332d2-9a57-405f-815c-0174785f886e-2",
 "control-69cda526-efbf-4ca0-97a4-a79b477f7bbc-3",
 "control-2663b81b-392b-478e-be0e-b00dc67f1b0e-4",
 ]);
 
 
 
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postHeaderParseControl');
     				}
     			</script>
<hr>
<div id="body" role="main">
<div id="ad-slot-3" class="ad-hdr">
<div class="ad-hdr-exp-2-2">
<p>
<a href="http://www.linkedin.com/csp/crd?v=1&cs=0_aAE6QjsvsDwYZzXCm3Ra-oSRbnD5JCuschasOEFPX6kjt7l5m9fWUu3Unj3S612xudKdHdIJsCdGjXk6zgchxkyUzvjrKbaMULFLKuufYkBYZMAMVfYjzEdBXjW4xaeUAbigWRWGwYJqnfctzzNRNjDNv-kayPTR7HJUP1KXGUNXA-o790i9AXq37N2sFDJmNiSNlu5hdcdDduSu2Fl5guR1tlIVSlEsmFo3xSoIIMn8OqI6UNY1uoVgnnvZyi1PhOgAzktMqHULfiMVX4ZwTfWTQgvW9dKFCxx0Cf8dJH6cVqUe8INgw264COO4HppFDSTq4vQ5q7eL7bSymuOOcy-YzA9mFbz6-BR7zX3qNVIiZVh5WH49FcQqz_mY_xiJmpMPZKqfCc4cNZX2oXFQeDfP8bKZeOsTcEBFBaX2wqGL-cctw2738bt8ASFHaDI4Dt05SLNjpnxo8qdDTtmKBOSvcFddC30ZxAbFBXyDva_oJnG5pUPIU9E7pqaHsmBCoMw5UYEHhWaA-N_OgR2Bar6n5rkjwxVakAtgv5HkcYMZBkmgxH5hCho9yN305LS8ed_G0Jg_eLRZy4KHZMTVxtphR1EswO7Mqneum8IyYPTzkfh0tsiSnXylEsHLrcVhvz1p94rEp8HAqfG71kFquHt-OJwymQAOSnTsiO5pSnU" target="_blank">Monetize your android App - Make more money from your android app. Guaranteed pay per download.</a>
<span class="ad-hdr-profile"> From:  <a href="http://www.linkedin.com/csp/crd?v=1&cs=0_7Kmf8WByPyt97mNAE5HLntdcR1ahxqgqB7nIzpsSbgWdliFwyBlNk2B-3MrJzSbE9gZanYD3Cp0i2EbiwsXp0o_0wTl1pZ5u8vIHDaY18AvZDHYKJn4EeAN3aVJo0sVF8MM3yADs8Fk7hMdmFvowJXO2zuwou9FP5791p_OGzyqS81MxZPlGWo_hmszfcT3_HihIk9ER6AVRNPMEOeDcsqXYmJFBiSw4NhaGeUxYXHni-NFbrN4VbYp9YscpMCKAoJnG5pUPIU9E7pqaHsmBCoMw5UYEHhWaA-N_OgR2Bar6n5rkjwxVakAtgv5HkcYMZBkmgxH5hCho9yN305LS8ed_G0Jg_eLRZy4KHZMTVxtphR1EswO7Mqneum8IyYPTfaxROatlBpVnQHViZwd3zfz1p94rEp8HAqfG71kFquHt-OJwymQAOSnTsiO5pSnU" target="_blank">coming soon</a></span>
</p>
</div>
</div>
<div id="section-header">
<ul id="nav-secondary">
<li id="nav-edit-profile" class=""><a href="/profile/edit?locale=en_US"><span>Edit Profile</span></a></li>
<li id="nav-my-profile" class="selected"><a href="/profile/view?id=59450163&amp;locale=en_US&amp;trk=tab_pro"><span>View Profile</span></a></li>
</ul>
</div>
<div class="wrapper hp-nus-wrapper">
<div id="global-error">
</div>
<div id="main" class="profile grid-a">
<div id="content" class="resume hresume">
<div class="stars-promo top">
</div>
<div class="stars-promo">
</div>
<div class="profile-header">
<div class="masthead vcard contact" id="member-59450163">
<div class="image zoomable" style="display:block" id="profile-picture">
<a href="http://m4.licdn.com/media/p/2/000/03e/2ad/0eddced.jpg">
<img src="http://m3.licdn.com/mpr/mpr/shrink_100_100/p/2/000/03e/2ad/0eddced.jpg" class="photo" width="100" height="100" alt="Neha Jain">
</a>
<script id="control-1f3bd9c4-b411-4322-85a1-b9e89de49cb1-5" type="linkedin/control" class="li-control">
            
      
        
        
        /* extlib: _largerprofilepicture */
          
        
        
        
        
      
    
            LI.Controls.addControl('control-1f3bd9c4-b411-4322-85a1-b9e89de49cb1-5', 'LargerProfilePicture', {
                  imgSrc: 'http://m4.licdn.com/media/p/2/000/03e/2ad/0eddced.jpg',
                  imgWidth: 199,
                  imgHeight: 199,
                  vieweeId: 59450163
                });
          </script>
</div>
<h1>
<span id="name" class="n fn">
<span class="full-name"><span class="given-name">Neha</span> <span class="family-name">Jain</span></span>
</span>
</h1>
<p class="headline-title title" style="display:block">
Software Developer at SlideShare
</p>
<dl id="headline" class="demographic-info adr">
<dt>Location</dt>
<dd>
<span class="locality">
<a href="/search?search=&amp;sortCriteria=R&amp;keepFacets=true&amp;facet_G=in%3A6594" title="Find users in Kanpur Area, India" name="location">Kanpur Area, India</a>
</span>
</dd>
<dt>Industry</dt>
<dd class="industry">
<a href="/search?search=&amp;industry=96&amp;sortCriteria=R&amp;keepFacets=true" title="Find users in this industry" name="">Information Technology and Services</a>
</dd>
</dl>
</div>
<h2 class="section-title"> Overview </h2>
<dl id="overview">
<dt id="overview-summary-current-title" class="summary-current" style="display:block">
Current
</dt>
<dd class="summary-current" style="display:block">
<ul class="current">
<li>
Software Developer
<span class="at">at </span>
<span class="miniprofile-container /companies/288351?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/288351?trk=pro_other_cmpy"><span>SlideShare</span></a></strong></span>
</li>
</ul>
</dd>
<dt id="overview-summary-past-title" class="summary-past" style="display:block">
Past
</dt>
<dd class="summary-past" style="display:block">
<ul class="past">
<li>
Software engineer
<span class="at">at </span>
<span class="miniprofile-container /companies/3229?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/3229?trk=pro_other_cmpy"><span>Aricent</span></a></strong></span>
</li>
<li>
Maths HG2 Tutor
<span class="at">at </span>
<span class="miniprofile-container /companies/149849?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/149849?trk=pro_other_cmpy"><span>TutorVista Global Pvt Ltd</span></a></strong></span>
</li>
<li>
summer intern
<span class="at">at </span>
<span class="miniprofile-container /companies/1353?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/1353?trk=pro_other_cmpy"><span>TCS</span></a></strong></span>
</li>
</ul>
</dd>
<dt id="overview-summary-education-title" class="summary-education" style="display:block">
Education
</dt>
<dd class="summary-education" style="display:block">
<ul>
<li>
HBTI
</li>
<li>
Kendriya Vidyalaya
</li>
<li>
Harmilap Mission school
</li>
</ul>
</dd>
<dt>
Recommendations
</dt>
<dd>
<p>
<strong>1</strong> person has recommended Neha
</p>
</dd>
<dt>
Connections
</dt>
<dd class="overview-connections">
<p>
<a href="/profile/connections?id=59450163&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" name="profsum"><strong>172</strong> connections</a>
</p>
</dd>
<dt class="websites">Websites</dt>
<dd class="websites">
<ul>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Fchefschatter%2Ecom&amp;urlhash=l0mo" target="_blank" title="New window will open" name="overviewsite">
Personal Website
</a>
</li>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Fwww%2Erandomphilosophyideas%2Eblogspot%2Ecom&amp;urlhash=qE9Y" target="_blank" title="New window will open" name="overviewsite">
Blog
</a>
</li>
</ul>
</dd>
<dt>
Twitter
</dt>
<dd>
<p>
<a href="/redirect?url=http%3A%2F%2Fwww%2Etwitter%2Ecom%2Fchefschatter&amp;urlhash=nW0z&amp;trk=pro_twit" target="_blank">chefschatter</a>
</p>
</dd>
<dt>Public Profile</dt>
<dd class="last">
<p class="none">
<a href="http://in.linkedin.com/in/nehajainhbti" title="View public profile" name="webProfileURL">http://in.linkedin.com/in/nehajainhbti</a>
</p>
</dd>
</dl>
<script type="text/javascript">
  showHide.init('overview');
</script>
<div class="profile-actions-tertiary-container">
<ul class="profile-actions-tertiary has-3">
<li class="share">
<a href="/forwardProfileMsg?displayCreate=&amp;profileID=59450163&amp;profileName=Neha+Jain&amp;network=I&amp;authToken=8bNz&amp;authType=name&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-ab-share-0">
<span>Share</span>
</a>
</li>
<li class="pdf">
<a href="/profile/pdf?id=59450163&amp;locale=en_US&amp;authType=name&amp;authToken=8bNz&amp;pdfFileName=NehaJain&amp;disablePdfCompression=true&amp;trk=pdf_pro_full" title="Download as PDF">
<span>PDF</span>
</a>
</li>
<li class="print">
<a href="javascript:window.print();" title="Print Profile">
<span>Print</span>
</a>
</li>
</ul>
</div>
</div>
<div class="section" id="profile-summary" style="display:block">
<div class="header">
<h2>
Summary
</h2>
</div>
<div class="content">
<p class=" description summary">
Application development in Python. Understanding of web browser security aka drive by download attacks. Designing an Anomaly detection engine for phoneyc (low interaction honeyclient, written in Python) viz. Bayesian Classifier for learning the malicious Javascript features and distinguishing safe and malicious web pages based on this learning.
</p>
<div id="profile-specialties" style="display:block">
<h4>Specialties</h4>
<p class="null">Python, C, Latex, Vim.</p>
</div>
</div>
</div>
<div class="section subsection-reorder" id="profile-experience" style="display:block">
<div class="header">
<h2> Experience
</h2>
</div>
<div class="content vcalendar">
<div>
<div>
<div class="position  first experience vevent vcard summary-current" style="display:block">
<a class="include" href="#name"></a>
<div class="postitle">
<h3 class="false">
<strong class="title"><a href="/search?search=&amp;title=Software+Developer&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C" title="Find users with this title" name="title">Software Developer</a></strong>
</h3>
<h4><strong>
<span class="miniprofile-container /companies/288351?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/288351?trk=pro_other_cmpy"><span class="org summary">SlideShare</span></a></strong></span>
</strong></strong>
</h4>
</div>
<p class="orgstats organization-details current-position">
Privately Held; 11-50 employees;
Internet industry
</p>
<p class="period">
<abbr class="dtstart" title="2011-12-01">December 2011</abbr>
&#8211; <abbr class="dtstamp" title="2012-06-29">Present</abbr>
<span class="duration"><span class="value-title" title="P7M"> </span>(7 months)</span>
<span class="location">New Delhi Area, India</span>
</p>
<p class=" description current-position">
Working for the slideshare's subscription business and paid features development and maintenance.
</p>
</div>
</div>
<div>
<div class="position   experience vevent vcard summary-past" style="display:block">
<a class="include" href="#name"></a>
<div class="postitle">
<h3 class="false">
<strong class="title"><a href="/search?search=&amp;title=Software+engineer&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C" title="Find users with this title" name="title">Software engineer</a></strong>
</h3>
<h4><strong>
<span class="miniprofile-container /companies/3229?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/3229?trk=pro_other_cmpy"><span class="org summary">Aricent</span></a></strong></span>
</strong></strong>
</h4>
</div>
<p class="orgstats organization-details past-position">
Privately Held; 5001-10,000 employees;
Telecommunications industry
</p>
<p class="period">
<abbr class="dtstart" title="2010-09-01">September 2010</abbr>
&#8211; <abbr class="dtend" title="2011-11-01">November 2011</abbr> <span class="duration"><span class="value-title" title="P1Y3M"> </span>(1 year 3 months)</span>
</p>
<p class=" description past-position">
Software Developer.
</p>
</div>
</div>
<div>
<div class="position   experience vevent vcard summary-past" style="display:block">
<a class="include" href="#name"></a>
<div class="postitle">
<h3 class="false">
<strong class="title"><a href="/search?search=&amp;title=Maths+HG2+Tutor&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C" title="Find users with this title" name="title">Maths HG2 Tutor</a></strong>
</h3>
<h4><strong>
<span class="miniprofile-container /companies/149849?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/149849?trk=pro_other_cmpy"><span class="org summary">TutorVista Global Pvt Ltd</span></a></strong></span>
</strong></strong>
</h4>
</div>
<p class="orgstats organization-details past-position">
Privately Held; 501-1000 employees;
E-Learning industry
</p>
<p class="period">
<abbr class="dtstart" title="2009-08-01">August 2009</abbr>
&#8211; <abbr class="dtend" title="2010-12-01">December 2010</abbr> <span class="duration"><span class="value-title" title="P1Y5M"> </span>(1 year 5 months)</span>
</p>
<p class=" description past-position">
Part time online tutoring for 3 hours during 4:30 a.m.-7:30 a.m., four days a week i.e. Monday-Thursday. Tutor maths to students of all grades till 12, across the globe using latest technology.<br>
Interesting work !!
</p>
<p class="recommendations"> <a href="#recommendations"><span class="name">Neha has</span> 1 recommendation</a>
(1 partner)
including:
</p>
<ul class="reflist">
<li class="deg_1">
<abbr title="vinod is your connection"><span class="network-degree">1<sup>st</sup></span></abbr>
<a href="/profile/view?id=63969579&amp;authType=name&amp;authToken=dOpH&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" title="View vinod's Profile">vinod v</a><em>,
Academic Counselor,
TutorVista Global Pvt Ltd</em><span name="_distanceToEndorser1"></span>
</li>
</ul>
</div>
</div>
<div>
<div class="position   experience vevent vcard summary-past" style="display:block">
<a class="include" href="#name"></a>
<div class="postitle">
<h3 class="false">
<strong class="title"><a href="/search?search=&amp;title=summer+intern&amp;sortCriteria=R&amp;keepFacets=true&amp;currentTitle=C" title="Find users with this title" name="title">summer intern</a></strong>
</h3>
<h4><strong>
<span class="miniprofile-container /companies/1353?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/1353?trk=pro_other_cmpy"><span class="org summary">TCS</span></a></strong></span>
</strong></strong>
</h4>
</div>
<p class="orgstats organization-details past-position">
Public Company; 10,001+ employees;
Information Technology and Services industry
</p>
<p class="period">
<abbr class="dtstart" title="2009-06-01">June 2009</abbr>
&#8211; <abbr class="dtend" title="2009-07-01">July 2009</abbr> <span class="duration"><span class="value-title" title="P2M"> </span>(2 months)</span>
</p>
<p class=" description past-position">
performance tuning of JS files, automation using ANT scripts
</p>
</div>
</div>
</div>
</div>
</div>
<div class="section" id="profile-skills" style="display:block">
<div class="header">
<h2> Skills &amp; Expertise
</h2>
</div>
<div class="content">
<ol class="skills" id="skills-list">
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Python?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Python?trk=skills-ext-prof" class="jellybean">
Python
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/C?proficiency=">
<a href="http://www.linkedin.com/skills/skill/C?trk=skills-ext-prof" class="jellybean">
C
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/LaTeX?proficiency=">
<a href="http://www.linkedin.com/skills/skill/LaTeX?trk=skills-ext-prof" class="jellybean">
LaTeX
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Vim?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Vim?trk=skills-ext-prof" class="jellybean">
Vim
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/JavaScript?proficiency=">
<a href="http://www.linkedin.com/skills/skill/JavaScript?trk=skills-ext-prof" class="jellybean">
JavaScript
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Linux?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Linux?trk=skills-ext-prof" class="jellybean">
Linux
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Eclipse?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Eclipse?trk=skills-ext-prof" class="jellybean">
Eclipse
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/C%2B%2B?proficiency=">
<a href="http://www.linkedin.com/skills/skill/C%2B%2B?trk=skills-ext-prof" class="jellybean">
C++
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Android?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Android?trk=skills-ext-prof" class="jellybean">
Android
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/MySQL?proficiency=">
<a href="http://www.linkedin.com/skills/skill/MySQL?trk=skills-ext-prof" class="jellybean">
MySQL
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Java?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Java?trk=skills-ext-prof" class="jellybean">
Java
</a>
</span>
</li>
<li class="competency show-bean  ">
<span class="miniprofile-container http://www.linkedin.com/skills/api/v1/miniskill/Shell+Scripting?proficiency=">
<a href="http://www.linkedin.com/skills/skill/Shell_Scripting?trk=skills-ext-prof" class="jellybean">
Shell Scripting
</a>
</span>
</li>
</ol>
</div>
</div>
<div class="section subsection-reorder summary-education" id="profile-education" style="display:block">
<div class="header">
<h2>
Education
</h2>
</div>
<div class="content vcalendar">
<div>
<div class="position  first education vevent vcard" id="41096034">
<h3 class="summary fn org">
<a href="/college/?eduSchool=HBTI&amp;trk=prof-edu-school-name" title="Find members that attended HBTI" name="''" class="school-link">HBTI</a>
</h3>
<h4 class="details-education">
<span class="degree">B.Tech</span>,
<span class="major">
<a href="/search?search=&amp;keywords=Information+Technology&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Information Technology</a>
</span>
</h4>
<p class="period">
<abbr class="dtstart" title="2006-01-01">2006</abbr> &#8211; <abbr class="dtend" title="2010-12-31">2010</abbr>
</p>
<p class=" desc details-education">
Graduated with Honors. Participated in Google Summer of Code '10. Won Poster presentation at Incord '08. Won Paper Presentation at IIT-R Cognizance '08.
</p>
<p class="desc details-education" name="activities"><em>Activities and Societies:</em>
<a href="/search?search=&amp;keywords=Marketing+for+Incord-09&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Marketing for Incord-09</a>, <a href="/search?search=&amp;keywords=Tech+Fest+of+CSE+Dept%2E&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Tech Fest of CSE Dept.</a>, <a href="/search?search=&amp;keywords=Literary+Club%2E&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Literary Club.</a>
</p>
</div>
<div class="position  education vevent vcard" id="43590973">
<h3 class="summary fn org">
<a href="/college/?eduSchool=20331&amp;trk=prof-edu-school-name" title="Find members that attended Kendriya Vidyalaya" name="''" class="school-link">Kendriya Vidyalaya</a>
</h3>
<h4 class="details-education">
<span class="degree">AISSCE</span>,
<span class="major">
<a href="/search?search=&amp;keywords=English&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">English</a>, <a href="/search?search=&amp;keywords=Physics&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Physics</a>, <a href="/search?search=&amp;keywords=Chemistry&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Chemistry</a>, <a href="/search?search=&amp;keywords=Biology&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Biology</a>, <a href="/search?search=&amp;keywords=Mathematics&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Mathematics</a>
</span>
</h4>
<p class="period">
<abbr class="dtstart" title="2003-01-01">2003</abbr> &#8211; <abbr class="dtend" title="2005-12-31">2005</abbr>
</p>
<p class=" desc details-education">
Head Girl (vice) for 2003-04. Won 800m, 400m, 200m race.
</p>
<p class="desc details-education" name="activities"><em>Activities and Societies:</em>
<a href="/search?search=&amp;keywords=Sports+Team%2E&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Sports Team.</a>
</p>
</div>
<div class="position  education vevent vcard" id="42103958">
<h3 class="summary fn org">
<a href="/college/?eduSchool=Harmilap+Mission+school&amp;trk=prof-edu-school-name" title="Find members that attended Harmilap Mission school" name="''" class="school-link">Harmilap Mission school</a>
</h3>
<h4 class="details-education">
<span class="degree">Aissce</span>
</h4>
<p class="period">
<abbr class="dtstart" title="1993-01-01">1993</abbr> &#8211; <abbr class="dtend" title="2003-12-31">2003</abbr>
</p>
<p class=" desc details-education">
Throughout First position holder in class.
</p>
<p class="desc details-education" name="activities"><em>Activities and Societies:</em>
<a href="/search?search=&amp;keywords=School+Captain+2002-03%2E%0ACompering+in+the+Annual+function+2006-07%2E%0ASecond+prize+in+All+India+Intellectuals+Speech+competition%2E%0AActive+participant+and+winner+of+various+debates+and+extempore+competitions%2E&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">School Captain 2002-03.<br>
Compering in the Annual function 2006-07.<br>
Second prize in All India Intellectuals Speech competition.<br>
Active participant and winner of various debates and extempore competitions.</a>
</p>
</div>
</div>
</div>
</div>
<div class="section" id="profile-recommendations">
<div class="header">
<h2 id="recommendations">
Recommendations For Neha
</h2>
</div>
<div class="content">
<div class="reference-position first">
<div class="postitle">
<h3 class="false">
<span class="title">Maths HG2 Tutor</span>
</h3>
<h4><strong>
<span class="miniprofile-container /companies/149849?miniprofile=" data-tracking="mcp_profile_sum" data-li-getjs="http://s3.licdn.com/scds/concat/common/js?h=dyt8o4nwtaujeutlgncuqe0dn"><strong>
<a class="company-profile" href="/company/149849?trk=pro_other_cmpy"><span class="org summary">TutorVista Global Pvt Ltd</span></a></strong></span>
</strong></strong>
</h4>
</div>
<div>
<div class="reference">
<p>&#8220;Neha is a detail-oriented manager who watches the balance sheet like a hawk without ever losing sight of the strategic objective.&#8221;
<span class="date">February 5, 2010</span></p>
<p class="distance deg_1">
<abbr title="vinod is your connection"><span class="network-degree">1<sup>st</sup></span></abbr>
<a href="/profile/view?id=63969579&amp;authType=name&amp;authToken=dOpH&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" title="View vinod's Profile">vinod v</a>,
<em> Academic Counselor, TutorVista Global Pvt Ltd</em><br>
was with another company when working with Neha at TutorVista Global Pvt Ltd
</p>
</div>
</div>
</div>
</div>
</div>
<div class="section" id="profile-additional" style="display:block">
<div class="header">
<h2> Additional Information
</h2>
</div>
<div class="content">
<dl>
<dt class="websites" style="display:block">Websites:</dt>
<dd class="websites" style="display:block">
<ul>
<li class="website">
<a href="/redir/redirect?url=http%3A%2F%2Fchefschatter%2Ecom&amp;urlhash=l0mo" target="_blank" title="New window will open">
Personal Website
</a>
</li>
<li class="website">
<a href="/redir/redirect?url=http%3A%2F%2Fwww%2Erandomphilosophyideas%2Eblogspot%2Ecom&amp;urlhash=qE9Y" target="_blank" title="New window will open">
Blog
</a>
</li>
</ul>
</dd>
<dt>Twitter:</dt>
<dd id="twitter">
<ul>
<li>
<a href="/redirect?url=http%3A%2F%2Fwww%2Etwitter%2Ecom%2Fchefschatter&amp;urlhash=nW0z&amp;trk=pro_twit" target="_blank">chefschatter</a>
</li>
</ul>
</dd>
<dt class="interests" style="display:block">Interests:</dt>
<dd class="interests" id="interests" style="display:block">
<p class="">
<a href="/search?search=&amp;keywords=Writing+poems&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">Writing poems</a>, <a href="/search?search=&amp;keywords=articles&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">articles</a>, <a href="/search?search=&amp;keywords=codes&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">codes</a>, <a href="/search?search=&amp;keywords=reading+fiction+and+finance+and+business+books&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">reading fiction and finance and business books</a>, <a href="/search?search=&amp;keywords=cooking&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">cooking</a>, <a href="/search?search=&amp;keywords=googling&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">googling</a>, <a href="/search?search=&amp;keywords=hacking+vim+and+linux%2E&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">hacking vim and linux.</a>
</p>
</dd>
<dt class="pubgroups" style="display:block">Groups and Associations:</dt>
<dd class="pubgroups" id="pubgroups" style="display:block">
<p class="null">
<a href="/search?search=&amp;keywords=ACM&amp;sortCriteria=R&amp;keepFacets=true" title="Find users with this keyword" name="">ACM</a>
</p>
<ul class="groups">
<li class="affiliation vcard">
<a class="group-logo" href="/groups?gid=128541" tracking="fulpro_grplogo"> <img src="http://m3.licdn.com/media/p/2/000/00b/2f9/2953915.png" width="60" height="30" alt="FOSS.IN logo"/>
</a>
<div class="group-data">
<a href="/groups?gid=128541" tracking="fulpro_grplogo"><strong class="fn org">FOSS.IN</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups?gid=25827" tracking="fulpro_grplogo"> <img src="http://m3.licdn.com/media/p/3/000/000/019/269e3da.png" width="60" height="30" alt="Python Community logo"/>
</a>
<div class="group-data">
<a href="/groups?gid=25827" tracking="fulpro_grplogo"><strong class="fn org">Python Community</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups?gid=1846027" tracking="fulpro_grplogo"> <img src="/img/icon/group/icon_group_60x30_v2.png" width="60" height="30" alt="Python Professionals logo"/>
</a>
<div class="group-data">
<a href="/groups?gid=1846027" tracking="fulpro_grplogo"><strong class="fn org">Python Professionals</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups/Python-Web-Developers-101591" tracking="fulpro_grplogo"> <img src="http://m3.licdn.com/media/p/3/000/0f9/3bb/0258b98.png" width="60" height="30" alt="Python Web Developers logo"/>
</a>
<div class="group-data">
<a href="/groups/Python-Web-Developers-101591" tracking="fulpro_grplogo"><strong class="fn org">Python Web Developers</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups/Service-Availability-Professionals-2225458" tracking="fulpro_grplogo"> <img src="http://m3.licdn.com/media/p/3/000/059/3e0/12a3bb3.png" width="60" height="30" alt="Service Availability Professionals logo"/>
</a>
<div class="group-data">
<a href="/groups/Service-Availability-Professionals-2225458" tracking="fulpro_grplogo"><strong class="fn org">Service Availability Professionals</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups?gid=1893960" tracking="fulpro_grplogo"> <img src="http://m4.licdn.com/media/p/3/000/021/3a2/0e0149e.png" width="60" height="30" alt="SlideShare logo"/>
</a>
<div class="group-data">
<a href="/groups?gid=1893960" tracking="fulpro_grplogo"><strong class="fn org">SlideShare</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups?gid=4451287" tracking="fulpro_grplogo"> <img src="http://m4.licdn.com/media/p/4/000/167/315/113dde5.png" width="60" height="30" alt="SlideShare Integration Group (India) logo"/>
</a>
<div class="group-data">
<a href="/groups?gid=4451287" tracking="fulpro_grplogo"><strong class="fn org">SlideShare Integration Group (India)</strong></a>
</div>
</li>
<li class="affiliation vcard">
<a class="group-logo" href="/groups/Vim-154653" tracking="fulpro_grplogo"> <img src="http://m3.licdn.com/media/p/3/000/00d/2ca/1660b52.png" width="60" height="30" alt="Vim logo"/>
</a>
<div class="group-data">
<a href="/groups/Vim-154653" tracking="fulpro_grplogo"><strong class="fn org">Vim</strong></a>
</div>
</li>
</ul>
</dd>
<dt class="honors" style="display:block">Honors and Awards:</dt>
<dd class="honors" class="last" style="display:block">
<p class=" ''">
Certificate of Merit in science, class X (CBSE).<br>
Gold Merit certificate in National Cyber Olympiad.<br>
Fair and Lovely Scholarship 2006-07 and 2009-2010.<br>
Google Summer of Code 2010.
</p>
</dd>
</dl>
</div>
</div>
<div class="section" id="profile-contact" style="display:block">
<div class="header">
<h2>Contact Neha for:
</h2>
</div>
<div class="content">
<div class="interested">
<ul>
<li>career opportunities</li>
<li>consulting offers</li>
<li>new ventures</li>
<li>job inquiries</li>
<li>expertise requests</li>
<li>business deals</li>
<li>reference requests</li>
<li>getting back in touch</li>
</ul>
</div>
<div class="alert notice alert-details">
<h4>Contacting You</h4>
<p>How a user can contact you depends on how he or she is connected to you:</p>
<ul>
<li>If a connection views your profile, he or she sees your email address</li>
<li>If a user in your network views your profile, he or she sees a &#8220;Get Introduced&#8221; button</li>
<li>If a user in the LinkedIn Network tries to view your profile, he or she will see an anonymous profile and a &#8220;Contact Directly&#8221; button</li>
</ul>
<p><a href="https://www.linkedin.com/secure/settings?req=">Change your contact settings.</a></p>
</div>
</div>
</div>
<div id="profile-applications" class="section installed-apps">
<div class="content">
<div class="module-panel applications" id="panel-03">
<div id="panel-03-slot-425837630" class="slot" style="visibility: hidden; position: absolute; left: -12345px;">
<div id="gadget-panel-03-slot-425837630" class="module gadget open">
<div class="header" id="panel-03-slot-425837630-header">
<h3>
<strong id="panel-03-slot-425837630-remote-title">SlideShare Presentations</strong>
</h3>
</div>
<div class="content">
<iframe id="panel-03-slot-425837630-remote" class="gadgets-gadget" width="100%" scrolling="no" height="250" frameborder="no" src="about:blank" name="panel-03-slot-425837630-remote" style="height: 250px;"></iframe>
</div>
</div>
</div>
<script type="text/javascript">
	              YAHOO.util.Event.onDOMReady(function() {
	              
	                
	                  window.frames["panel-03-slot-425837630-remote"]
	                    .location.replace("http://www.lmodules.com/opensocial/ifr?url=http%3A%2F%2Fliss%2Eslideshare%2Ecom%2Fslideshare%2Exml&container=default&mid=425837630&nocache=0&country=US&lang=en&libs=dynamic-height:settitle:views:opensocial-0.9&view=profile&parent=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2F&st=linkedin%3A3l-9yUEJkdUAgiIVoDqlKXRXudoyEyyoqqt4fsnH9DD0A8uNVq1-ul_3cDQrQU1BuotRf69osJcwxRai6GXQN827Rw4hz0KW5RFk_MP6FDbhMlfpWCfOO1RD-QobC-Q73-ISaxGu56U9d7hWd-vFyOXNi9F5XMH6J8NIVIA-8eEkF4YvP0I0lphR0cdM8Rkc_akE54JZccg4y9dJpqEU6jROGXGHg6YZrInA35JGLui3IKIw_xz8P_nWJKLi6m3QQnjcUNGrRXMmvdaZvFpl2_1bT4L4bIay-Pwnsi0GckxdbwR6EQ85JO1MeIcD5r9KfqdV6-#rpctoken=513971714&urlToCanvasView=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fosview%2Fcanvas%3F_ch_page_id%3D2%26_ch_panel_id%3D3%26_ch_app_id%3D425837630%26_applicationId%3D1200&signedUrlToCanvasView=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fosview%2Fcanvas%3F_ch_page_id%3D2%26_ch_panel_id%3D3%26_ch_app_id%3D425837630%26_applicationId%3D1200%26_ownerId%3D59450163%26osUrlHash%3Dzhb1&baseLeoNonSecureURL=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2F&ownerProfileUrl=%2Fprofile%2Fview%3Fid%3D59450163&viewerAccess=true");
	                
	              
	              });
	            </script>
</div>
</div>
<div style="display: none">
<a href="placeholder" id="aGoBackTemplateLink"></a>
<a href="https://www.linkedin.com/secure/placeholder" id="aGoBackTemplateLinkSecure"></a>
<a href="placeholder" id="anogbGoBackTemplateLink"></a>
<a href="https://www.linkedin.com/secure/placeholder" id="anogbGoBackTemplateLinkSecure"></a>
<a href="placeholder" id="agbpushGoBackTemplateLink"></a>
<a href="https://www.linkedin.com/secure/placeholder?goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" id="agbpushGoBackTemplateLinkSecure"></a>
</div>
</div>
</div>
<div id="extra" class="infobar">
<div class="profile-actions-primary">
<div class="guided-actions">
<a name="guidedEdit" class="btn-action" href="/profile/guided?goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-sb-guided_edit-button">
<span>Improve your Profile</span>
</a>
</div>
<noscript>
<a name="shareProfile" class="action primary btn-action withoutjs" href="/forwardProfileMsg?displayCreate=&amp;profileID=59450163&amp;profileName=Neha+Jain&amp;network=I&amp;authToken=8bNz&amp;authType=name&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-sb-share-button"><span>Share profile</span></a>
</noscript>
<a name="optimizeProfile" class="btn-secondary" href="/profile/edit?locale=en_US"><span>Edit profile</span></a>
</div>
<ul class="profile-actions-secondary">
<li>
<a name="addRecommendations" href="/recRequests?cor=&amp;trk=prof-0-sb-ask_for_rec-link">Ask for recommendations</a>
</li>
<li>
<a href="/profile/edit-profile-in-another-language?goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-sb-create_pial-link">Create your profile in another language</a>
</li>
</ul>
<div class="profile-completeness">
<span class="progress-meter" title="100% Complete"><span class="has-progress" style="width:100%"></span></span>
<p class="progress"><strong>100%</strong> profile completeness</p>
</div>
<div class="general-box ad-block">
<div class="title"><h6>Advertisement</h6></div>
<div class="content">
<script type="text/javascript">

    

    var dbl_url = "http://ad-apac.doubleclick.net/adj/linkedin.dart/".replace("adj", "adi");
       
    
        
        
            var dbl_src = dbl_url + "nprofile-view-success;optout=false;lang=en;tile=1;sz=300x250;v=5;u=1dtCB8iTtTdjoRsPx8dAtl;mod=150;title=en;func=eng;coid=288351;ind=6;csize=c;zip=208022;cntry=in;reg=6594;sub=0;jpos=0;con=i;edu=20331;gy=2010;gdr=f;age=23;seg=162;seg=475;grp=1893960;grp=128541;grp=25827;grp=101591;grp=154653;grp=4451287;grp=1846027;grp=2225458;sjt=41;dcopt=ist;" + encodeURIComponent('uprofile=59450163;company=288351;pcntry=in') + ";s=0;ord=353472526?";
          
      

    
        
            
                document.write('<iframe id="ad-nprofile-view-success-1" src="' + dbl_src + '" width="380" height="250" frameborder="0" border="0" scrolling="no" allowtransparency="true"><\/iframe>');
              
          
      
  </script>
</div>
</div>
<div class="general-box panel">
<div class="title"><h3>Network Information</h3></div>
<div class="modules">
<div class="leo-module mod-util mod-custom stats profile">
<div class="header">
<h3>Who's Viewed Your Profile?</h3>
</div>
<div class="content">
<p class="stat"><strong class="count"><a href="/wvmx/profile?trk=prof-view-wvmp-sb-count-0">5</a></strong> <em><a href="/wvmx/profile?trk=prof-view-wvmp-sb-viewed_by-0">Your profile has been viewed by 5 people in the past day.</a></em></p>
<p class="stat"><strong class="count">21</strong> <em>You have shown up in search results 21 times in the past 7 days.</em></p>
</div>
</div>
<div class="leo-module mod-util">
<div class="header">
<h3><strong>Neha&#8217;s Activity</strong></h3>
<ul>
<li class="edit"><a href="/mfsettings?displaySettings=">edit</a></li>
</ul>
</div>
<div class="content feed feed-mod feed-redesign">
<ul class="chron">
<li class="feed-item">
<div class="feed-body mid-59450163">
<div class="feed-content">
<span class="miniprofile-container /miniprofile?view=&amp;vieweeID=59450163&amp;context=nus"><strong><a href="http://www.linkedin.com/nus-trk?trkact=viewMemberProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=d6162e88-b2b8-445d-86f8-0cac7779839c&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D59450163%26authType%3Dname%26authToken%3D8bNz%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_DIG_CONN-connctr&urlhash=2FRi">Neha Jain</a></strong></span> is now connected to <span class="miniprofile-container /miniprofile?view=&amp;vieweeID=66326893&amp;context=nus"><a href="http://www.linkedin.com/nus-trk?trkact=viewConnectionProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=d6162e88-b2b8-445d-86f8-0cac7779839c&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D66326893%26authType%3Dname%26authToken%3DAfMS%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_DIG_CONN-conncte&urlhash=LbJ7">Bijeet Singh</a></span>, Data Engineer at SlideShare, <span class="miniprofile-container /miniprofile?view=&amp;vieweeID=54624290&amp;context=nus"><a href="http://www.linkedin.com/nus-trk?trkact=viewConnectionProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=d6162e88-b2b8-445d-86f8-0cac7779839c&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D54624290%26authType%3Dname%26authToken%3DzC4i%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_DIG_CONN-conncte&urlhash=qOin">Rashi Shukla</a></span>, Deputy Manager, Human Resources at SlideShare Inc, and <a href="http://www.linkedin.com/nus-trk?trkact=viewMoreConnections&pk=nprofile-view-success&pp=1&poster=59450163&uid=d6162e88-b2b8-445d-86f8-0cac7779839c&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fconnections%3Fid%3D59450163%26trk%3DNUS_DIG_CONN-more&urlhash=icZt">2 other people.</a>
</div>
<div class="feed-item-meta cncttest">
<ul class="feed-actions">
</ul>
<span class="nus-timestamp">7 hours ago</span>
</div>
</div>
</li>
<li class="feed-item">
<div class="feed-body mid-59450163">
<div class="feed-content">
<span class="miniprofile-container /miniprofile?view=&amp;vieweeID=59450163&amp;context=nus"><strong><a href="http://www.linkedin.com/nus-trk?trkact=viewMemberProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=f0115686-668b-4c42-808b-ecc14c307e18&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D59450163%26authType%3Dname%26authToken%3D8bNz%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_DIG_CONN-connctr&urlhash=2FRi">Neha Jain</a></strong></span> is now connected to <span class="miniprofile-container /miniprofile?view=&amp;vieweeID=58164316&amp;context=nus"><a href="http://www.linkedin.com/nus-trk?trkact=viewConnectionProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=f0115686-668b-4c42-808b-ecc14c307e18&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D58164316%26authType%3Dname%26authToken%3DoaPL%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_DIG_CONN-conncte&urlhash=lGxZ">Hitesh Sharma</a></span>, Software Engineer at SlideShare, <span class="miniprofile-container /miniprofile?view=&amp;vieweeID=80275320&amp;context=nus"><a href="http://www.linkedin.com/nus-trk?trkact=viewConnectionProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=f0115686-668b-4c42-808b-ecc14c307e18&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D80275320%26authType%3Dname%26authToken%3DHqbD%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_DIG_CONN-conncte&urlhash=IZgv">Anurag Banka</a></span>, SDE at MAQ SOFTWARE, and <a href="http://www.linkedin.com/nus-trk?trkact=viewMoreConnections&pk=nprofile-view-success&pp=1&poster=59450163&uid=f0115686-668b-4c42-808b-ecc14c307e18&ut=NUS_DIG_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fconnections%3Fid%3D59450163%26trk%3DNUS_DIG_CONN-more&urlhash=icZt">7 other people.</a>
</div>
<div class="feed-item-meta cncttest">
<ul class="feed-actions">
</ul>
<span class="nus-timestamp">21 hours ago</span>
</div>
</div>
</li>
<li class="feed-item">
<div class="feed-body mid-59450163">
<div class="feed-content">
<span class="miniprofile-container /miniprofile?view=&amp;vieweeID=59450163&amp;context=nus"><strong><a href="http://www.linkedin.com/nus-trk?trkact=viewMemberProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=&ut=NUS_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D59450163%26authType%3Dname%26authToken%3D8bNz%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_CONN-conntr&urlhash=qv6L">Neha Jain</a></strong></span> is now connected to <span class="miniprofile-container /miniprofile?view=&amp;vieweeID=189775055&amp;context=nus"><a href="http://www.linkedin.com/nus-trk?trkact=viewConnectionProfile&pk=nprofile-view-success&pp=1&poster=59450163&uid=&ut=NUS_CONN&r=&url=http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D189775055%26authType%3Dname%26authToken%3D99jI%26goback%3D%252Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%26trk%3DNUS_CONN-connte&urlhash=xxgm">Digvendra Singh</a></span>, Senior Development Engineer at Pramati Technologies
</div>
<div class="feed-item-meta cncttest">
<ul class="feed-actions">
</ul>
<span class="nus-timestamp">10 days ago</span>
</div>
</div>
</li>
</ul>
<script id="control-631e40a0-2fa8-4e85-82d2-a940b7b39644-6" type="linkedin/control" class="li-control">
            
      
        
        
        /* extlib: _nustweetactions */
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'NusTweetActions-connect-your-twitter', 'Connect your Twitter and LinkedIn' );


     
      
  
  

    
      
        
          
            
                
              
          
        
      
    
    


     
    
  

     
      
        
          
            
                
              
          
        
      
    
     

LI.TwitterBindDialogDependencies = {
  jsFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/js?h=7xdqlzvp4093turipo7kvpfky-biezjrnzxeom87cg0klp2hzzw"]
              
            
          
        
      
    ,
  cssFiles: 
      
        
            
              
              
                ["http://s3.licdn.com/scds/concat/common/css?h=7b60n5zy4134lyiyl1hcmjwgn"]
              
            
          
        
      
    
};

        
        
        
        
      
    
            LI.Controls.addControl('control-631e40a0-2fa8-4e85-82d2-a940b7b39644-6', 'NusTweetActions', {
          bindDialogUrl: '\/today\/dialog\/twitter?goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1',
          bindCheckUrl: '\/verifyTwitterAcct',
          showBindDialog: true
        });
          </script>
<script id="control-0321471c-ded1-459b-81c8-2fa4edad0d5f-7" type="linkedin/control" class="li-control">
            
      
        
        
        /* extlib: _nusdeleteupdate */
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'NusDeleteUpdate-are-you', 'Are you sure you want to delete this update?' );
LI.i18n.register( 'NusDeleteUpdate-yes',   'Yes, please delete it' );
LI.i18n.register( 'NusDeleteUpdate-or', 'or' );
LI.i18n.register( 'NusDeleteUpdate-cancel',   'Cancel' );
LI.i18n.register( 'NusDeleteUpdate-please-confirm',   'Please Confirm' );

        
        
        
        
      
    
            LI.Controls.addControl('control-0321471c-ded1-459b-81c8-2fa4edad0d5f-7', 'NusDeleteUpdate', {});
          </script>
<script id="control-761f17f8-dbe0-4a4f-a8ce-e14dafe1b554-8" type="linkedin/control" class="li-control">
            
      
        
        
        /* extlib: _nusliking */
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'NUS_LIKING_LIKE_LINK', "Like (<span>{0}<\/span>)" );
LI.i18n.register( 'NUS_LIKING_LIKE', "Like" );

        
        
        
        
      
    
            LI.Controls.addControl('control-761f17f8-dbe0-4a4f-a8ce-e14dafe1b554-8', 'NusLiking', {});
          </script>
<p class="more"><a href="/profile/feed?id=59450163&amp;authType=name&amp;authToken=8bNz&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">See more <strong>Activity</strong> &raquo;</a></p>
</div>
</div>
<div class="leo-module mod-util connections">
<div class="header">
<h3><strong>Neha&#8217;s Connections</strong> (172)</h3>
</div>
<div class="content">
<ul>
<li>
<strong>
<a href="/profile/view?id=85291091&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" title="View vikas's Profile" name="browseConShared" rel="contact">
vikas srivastava
</a>
</strong><br>
<span class="headline">software engineer at Samsung Electronics</span>
</li>
<li>
<strong>
<a href="/profile/view?id=27056203&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" title="View Gaurav's Profile" name="browseConShared" rel="contact">
Gaurav Pal
</a>
</strong><br>
<span class="headline">MTS at Oracle</span>
</li>
<li>
<strong>
<a href="/profile/view?id=36221845&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" title="View Nidhi's Profile" name="browseConShared" rel="contact">
Nidhi Nahata Misra
</a>
</strong><br>
<span class="headline">Store Manager at Infiniti Retail Limited, Croma A Tata Enterprises</span>
</li>
</ul>
<p class="more"><a href="/profile/connections?id=59450163&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" name="seeMoreConnections">See all <strong>Connections</strong> &raquo;</a></p>
</div>
</div>
<div class="note"><p><strong>Note:</strong> Currently your connections are <strong>allowed</strong> to view your connections list. <a href="https://www.linkedin.com/secure/settings?browse=&amp;goback=%2Enpv_59450163_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" name="allowedToView">Edit</a></p></div>
</div>
<div class="leo-module mod-util browsemap">
<div class="header">
<h3><strong>Viewers of this profile also viewed...</strong></h3>
</div>
<div class="content">
<ul>
<li class="with-photo">
<a href="/profile/view?id=99758587&amp;pid=59450163&amp;authType=name&amp;authToken=BcWU&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m3.licdn.com/mpr/mpr/shrink_40_40/p/1/000/08c/0ce/099630e.jpg" id="img-defer-id-1-25437" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=99758587&amp;pid=59450163&amp;authType=name&amp;authToken=BcWU&amp;trk=pbmap">Apoorvi Kapoor</a>
</strong><br>
<span class="headline">Software Developer at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=84082104&amp;pid=59450163&amp;authType=name&amp;authToken=L5dR&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/4/000/163/009/05acc04.jpg" id="img-defer-id-2-25438" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=84082104&amp;pid=59450163&amp;authType=name&amp;authToken=L5dR&amp;trk=pbmap">Ujjwal Grover</a>
</strong><br>
<span class="headline">Software Engineer at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=62760120&amp;pid=59450163&amp;authType=name&amp;authToken=LI3a&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/2/000/049/0aa/3772f78.jpg" id="img-defer-id-3-25438" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=62760120&amp;pid=59450163&amp;authType=name&amp;authToken=LI3a&amp;trk=pbmap">Arindam Chakraborty</a>
</strong><br>
<span class="headline">with SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=51872229&amp;pid=59450163&amp;authType=name&amp;authToken=vqgn&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m3.licdn.com/mpr/mpr/shrink_40_40/p/4/000/168/1c6/3d78b0e.jpg" id="img-defer-id-4-25438" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=51872229&amp;pid=59450163&amp;authType=name&amp;authToken=vqgn&amp;trk=pbmap">Arpit Bansal</a>
</strong><br>
<span class="headline">Software Engineer at SlideShare Inc.</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=33363251&amp;pid=59450163&amp;authType=name&amp;authToken=Xw38&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/1/000/025/17b/366692c.jpg" id="img-defer-id-5-25438" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=33363251&amp;pid=59450163&amp;authType=name&amp;authToken=Xw38&amp;trk=pbmap">Pranav Prakash</a>
</strong><br>
<span class="headline">Search Engineer at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=6453556&amp;pid=59450163&amp;authType=name&amp;authToken=5pB6&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/1/000/007/193/214e5fc.jpg" id="img-defer-id-6-25438" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=6453556&amp;pid=59450163&amp;authType=name&amp;authToken=5pB6&amp;trk=pbmap">Kapil Mohan</a>
</strong><br>
<span class="headline">Technical Architect at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=7230345&amp;pid=59450163&amp;authType=name&amp;authToken=jhH5&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/2/000/105/28e/33a2bb3.jpg" id="img-defer-id-7-25438" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=7230345&amp;pid=59450163&amp;authType=name&amp;authToken=jhH5&amp;trk=pbmap">Jeba Singh Emmanuel</a>
</strong><br>
<span class="headline">Tech Lead at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=29006139&amp;pid=59450163&amp;authType=name&amp;authToken=BFGg&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/4/000/146/317/1adea36.jpg" id="img-defer-id-8-25439" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=29006139&amp;pid=59450163&amp;authType=name&amp;authToken=BFGg&amp;trk=pbmap">Abhinav Dhasmana</a>
</strong><br>
<span class="headline">Senior Software Engineer at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=13269712&amp;pid=59450163&amp;authType=name&amp;authToken=xdHY&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m4.licdn.com/mpr/mpr/shrink_40_40/p/1/000/0a8/2d8/1a6f755.jpg" id="img-defer-id-9-25439" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=13269712&amp;pid=59450163&amp;authType=name&amp;authToken=xdHY&amp;trk=pbmap">Nikhil Prabhakar</a>
</strong><br>
<span class="headline">Senior Software Engineer at SlideShare</span>
</li>
<li class="with-photo">
<a href="/profile/view?id=23708656&amp;pid=59450163&amp;authType=name&amp;authToken=IJlZ&amp;trk=pbmap">
<img src="http://s4.licdn.com/scds/common/u/img/spacer.gif" data-li-src="http://m3.licdn.com/mpr/mpr/shrink_40_40/p/2/000/077/1a6/2cbe1d3.jpg" id="img-defer-id-10-25439" class="img-defer-hidden img-defer photo" width="40" height="40">
</a>
<strong>
<a href="/profile/view?id=23708656&amp;pid=59450163&amp;authType=name&amp;authToken=IJlZ&amp;trk=pbmap">Jai Pandya</a>
</strong><br>
<span class="headline">Software Engineer at SlideShare</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">LI.Controls.processQueue();</script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preBodyParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 
 
 
 
 
 
 
 
 
 LI_WCT([
 "control-1f3bd9c4-b411-4322-85a1-b9e89de49cb1-5",
 "control-631e40a0-2fa8-4e85-82d2-a940b7b39644-6",
 "control-0321471c-ded1-459b-81c8-2fa4edad0d5f-7",
 "control-761f17f8-dbe0-4a4f-a8ce-e14dafe1b554-8",
 ]);
 
 
 
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postBodyParseControl');
     				}
     			</script>
<div id="footer">
<div class="wrapper">
<ul class="nav-footer">
<li>
<a href="/redir/redirect?url=http%3A%2F%2Flinkedin%2Ecusthelp%2Ecom%2F&amp;urlhash=phDz&amp;trk=help-en" target="_blank" rel="nofollow" class="cust-svc-link"><strong>Help Center</strong></a>
</li>
<li><a href="/redir/redirect?url=http%3A%2F%2Fpress%2Elinkedin%2Ecom%2Fabout&amp;urlhash=ONnW">About</a></li>
<li><a href="/redir/redirect?url=http%3A%2F%2Fblog%2Elinkedin%2Ecom%2F&amp;urlhash=ULil">Blog</a></li>
<li><a href="/company/linkedin/careers?trk=hb_ft_work">Careers</a></li>
<li><a href="/advertising?src=en-all-el-li-hb_ft_ads&amp;trk=hb_ft_ads">Advertising</a></li>
<li><a href="/redir/redirect?url=http%3A%2F%2Ftalent%2Elinkedin%2Ecom%2F%3Fpin%3Dtr02&amp;urlhash=zJmW">Recruiting Solutions</a></li>
<li><a href="/static?key=tools&amp;trk=hb_ft_tools">Tools</a></li>
<li><a href="/static?key=mobile&amp;trk=hb_ft_mobile">Mobile</a></li>
<li><a href="/redir/redirect?url=http%3A%2F%2Fdeveloper%2Elinkedin%2Ecom&amp;urlhash=EFv_">Developers</a></li>
<li><a href="/publishers?trk=hb_ft_pubs">Publishers</a></li>
<li id="nav-utility-lang">
<a href="https://www.linkedin.com/secure/settings">Language</a>
<form name="languageSelectorForm" action="/languageSelector" method="POST" accept-charset="UTF-8" novalidate="novalidate">
<ul id="lang-list">
<li class="in"><a href="https://www.linkedin.com/secure/settings" lang="in"><span>Bahasa Indonesia</span></a></li>
<li class="ms"><a href="https://www.linkedin.com/secure/settings" lang="ms"><span>Bahasa Malaysia</span></a></li>
<li class="cs"><a href="https://www.linkedin.com/secure/settings" lang="cs"><span>Čeština</span></a></li>
<li class="de"><a href="https://www.linkedin.com/secure/settings" lang="de"><span>Deutsch</span></a></li>
<li class="selected en"><a href="https://www.linkedin.com/secure/settings" lang="en"><strong>English</strong></a></li>
<li class="es"><a href="https://www.linkedin.com/secure/settings" lang="es"><span>Español</span></a></li>
<li class="fr"><a href="https://www.linkedin.com/secure/settings" lang="fr"><span>Français</span></a></li>
<li class="ko"><a href="https://www.linkedin.com/secure/settings" lang="ko"><span>한국어</span></a></li>
<li class="it"><a href="https://www.linkedin.com/secure/settings" lang="it"><span>Italiano</span></a></li>
<li class="nl"><a href="https://www.linkedin.com/secure/settings" lang="nl"><span>Nederlands</span></a></li>
<li class="ja"><a href="https://www.linkedin.com/secure/settings" lang="ja"><span>日本語</span></a></li>
<li class="pl"><a href="https://www.linkedin.com/secure/settings" lang="pl"><span>Polski</span></a></li>
<li class="pt"><a href="https://www.linkedin.com/secure/settings" lang="pt"><span>Português</span></a></li>
<li class="ro"><a href="https://www.linkedin.com/secure/settings" lang="ro"><span>Română</span></a></li>
<li class="ru"><a href="https://www.linkedin.com/secure/settings" lang="ru"><span>Русский</span></a></li>
<li class="sv"><a href="https://www.linkedin.com/secure/settings" lang="sv"><span>Svenska</span></a></li>
<li class="tr"><a href="https://www.linkedin.com/secure/settings" lang="tr"><span>Türkçe</span></a></li>
</ul>
<input type="hidden" name="i18nLang" value="">
<input type="hidden" name="currenturl" value="http%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview%3Fid%3D59450163%26trk%3Dtab_pro%26urlhash%3DykVd">
</form>
</li>
<li class="last">
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=hb_ft_upyracct"> <strong>Upgrade Your Account</strong></a>
</li>
</ul>
<p id="copyright">LinkedIn Corporation &copy; 2012</p>
<ul id="nav-legal">
<li><a href="/static?key=user_agreement&amp;trk=hb_ft_userag">User Agreement</a></li>
<li><a href="/static?key=privacy_policy&amp;trk=hb_ft_priv">Privacy Policy</a></li>
<li class=""><a href="/static?key=copyright_policy&amp;trk=hb_ft_copy">Copyright Policy</a></li>
<li class="last" id="feedback-request">
<a href="/redir/redirect?url=http%3A%2F%2Flinkedin%2Ecusthelp%2Ecom%2F&amp;urlhash=phDz&amp;trk=help-en" target="_blank" rel="nofollow"><strong>Send Feedback</strong></a>
<script id="control-cc3738c5-9ed5-4646-8238-26c0b6a79cd1-9" type="linkedin/control" class="li-control">
 
 /* extlib: _dialog */
 
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
LI.i18n.register( 'Dialog-closeWindow', 'Close this window' );
LI.i18n.register( 'Dialog-or',   'or' );
LI.i18n.register( 'Dialog-cancel', 'Cancel' );
LI.i18n.register( 'Dialog-submit',   'Submit' );
LI.i18n.register( 'Dialog-error-generic',   'We\'re sorry. Something unexpected happened and your request could not be completed. Please try again.' );


     
      
  

    
      
        
          
            
                
              
          
        
      
    
    


     
    
  

     
      
        
          
            
                
              
          
        
      
    
     


     
      
  
  
  
  
  
  

    
      
        
          
            
                
              
          
        
      
    
    


     
    
  
  
  
  

     
      
        
          
            
                
              
          
        
      
    
     


     
    
  

     
      
        
          
            
                
              
          
        
      
    
     

LI.ComposeDialogDependencies = {
  jsFiles: 
      
        
            
              
              
                ["http://s3.licdn.com/scds/concat/common/js?h=a8e9brhxqvmxhs7gw00k546u5"]
              
            
          
        
      
    ,
  cssFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/css?h=154kxlhs4z8rrtcvqfbage7t"]
              
            
          
        
      
    
};

LI.FeedbackDialogDependencies = {
  url: '/lite/feedback-form',
  cssFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/css?h=4vzx87aejjgc7hnrhtqeeaj4b"]
              
            
          
        
      
    
};

LI.WhoSharedDialogDependencies = {
  jsFiles: 
      
        
            
              
              
                ["http://s3.licdn.com/scds/concat/common/js?h=12n907isa3lj0t3ul26fdwjj8-2n4yt87lodqrmju7q1fa7ubfw-7nbfvgnuhtwvh5fy1qrxcnxd9-16vc4c66t8hhc1ekn6qxjwufy-6ocq0aiezv3k6ihwxg562e3rw-3mny47ru2j5cuk8v87004rizh"]
              
            
          
        
      
    ,
  cssFiles: 
      
        
            
              
              
                ["http://s4.licdn.com/scds/concat/common/css?h=ee6ucumj8ledmrgyfyz4779k4-5vdl4x1qzwm5rqqwq4015vpam-3566c1ju1btq868kwju12welc-93p2og5192xig1tcmyfbsw6y8"]
              
            
          
        
      
    
};

 
 
 LI.Controls.setInitialized(YDom.get('control-cc3738c5-9ed5-4646-8238-26c0b6a79cd1-9'));
 </script>
<script type="linkedin/control" data-li-on="click">
 {"name":"Dialog","config": {
 name:'feedback-dialog',
 type:'task-modeless',
 content:{
 url: LI.FeedbackDialogDependencies.url,
 title:'Send Feedback'
 },
 dependencies: 'LI.FeedbackDialogDependencies'
 }
 
 }
 </script>
</li>
</ul>
</div>
</div>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preFooterParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 
 
 
 
 
 
 LI_WCT([
 "control-cc3738c5-9ed5-4646-8238-26c0b6a79cd1-9",
 ]);
 
 </script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postFooterParseControl');
     				}
     			</script>
<script type="text/javascript">
 
 if ( LI && LI.showAllDeferredImg && !LI.imgDeferFoldCheckDone ) { 
 LI.showAllDeferredImg( null, false );
 }
 
 if ( typeof( oUISettings ) !== 'undefined' ) {
 oUISettings.saveSettingsURL = "/lite/ui-settings-save?csrfToken=ajax%3A5976521465634906196";
 }

 if ( typeof( WebTracking ) !== 'undefined' ) {
 WebTracking.saveWebActionTrackURL = "/lite/web-action-track?csrfToken=ajax%3A5976521465634906196";
 }
 if ( typeof( SearchWebTracking ) !== 'undefined' ) {
 SearchWebTracking.saveSearchWebActionTrackURL = "/wt?csrfToken=ajax%3A5976521465634906196"; 
 }
 
</script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('preFooterGlobalJS');
     				}
     			</script>
<script type="text/javascript" src="http://s3.licdn.com/scds/concat/common/js?h=tyqygy2h5p5jhxcg0qriutiq-ak9xsat97hnphj0epw04b5bra-3w8dbmcvgln65o2pezqqd69la-9gazpl4u97ac028padk30w0hs-6fpgvxfmet1dgazyby9ub4rnk"></script>
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postFooterGlobalJS');
     				}
     			</script>
<script type="text/javascript" src="http://s3.licdn.com/scds/concat/common/js?h=45uikarntu8alseg3vm7n00do-dmsqq4wjlbot097ee0v9mig4a-zf3grd1w8dxj0d7ax336zpes-1bzmr173xxyhrmheppppw6wx2-d5le9q0xxxkae16amf7ts3f1e-7dhh6i8op735vdmdb23tak4cu-6ujprlh30p6p15meaf4stja35-8v6o0480wy5u6j7f3sh92hzxo-qglv4czlrwa2ld06nbtq4e8y-2n4yt87lodqrmju7q1fa7ubfw-8mok4jrcqa2w8n6awpc2tqtuy-452h0o8hfnbw8hham8806ra6t-c70vx7ljjwwiud25pk05l1wrp-acys0uoib5ni4nrl7fx4lfycc-3mny47ru2j5cuk8v87004rizh-ch3etq8axnszw6foqzy5vjfeh-aqcdjoyfx9mrkza4xqv8qnc4f-e3h9lbigrz3x47fsdbno4cszg-8ke72sq8o2yseeee3xwt3rs7u-e933pad63rwx6chifph6r1c"></script>
<script type="text/javascript">
  
    
        profileAbook.setAbookSaveNotesUrl("/people/save-notes?csrfToken=ajax%3A5976521465634906196"); 
        profileAbook.setUseDwr(false);
      // the following setting of leo abook servlet endpoint is a hack for 1040 to support CORE-6696, will be removed in 1042
      profileAbook.setProfileURL( '/abookOnProfile?displayPrimaryContact=&contactMemberID=59450163' );
      profileAbook.setMergeContactsURL( '/abookOnProfile?displayMergedContact=&contactMemberID=59450163' );
      i18n.abookDown = 'Your address book is currently unavailable. Please check again later.';
      i18n.abookPleaseLogin = 'Please re-login before making changes to notes.';
      i18n.abookNoSuchContact = 'The contact you are trying to edit, does not exist.';
      i18n.abookSuccess = 'Your notes for the contact has been successfully saved.';
      i18n.abookReviewAndMerge = 'Review & Merge';
    
    
    // Open social, the following gadget container code is required to show the apps on view 
    // which have valid content returned
    gadgets.container = new gadgets.ChameleonContainer(1);
    gadgets.container.setView('profile');

  // set the chameleon app non-dwr urls
   if ( typeof( ChameleonService ) !== 'undefined' ) {
    ChameleonService.saveAppPreferencesURL = "/lite/save-cham-app-prefs?csrfToken=ajax%3A5976521465634906196";
   // Chameleon, sets up the gadget container controls and the proeprties for open social remote rpc
    ChameleonService.init();
    
        
        
          
            ChameleonService.loadInappGadget(
              "gadget-panel-03-slot-425837630",
              "{&quot;app&quot;:{&quot;viewerAccess&quot;:&quot;true&quot;,&quot;gadgetChromeID&quot;:&quot;gadget-panel-03-slot-425837630&quot;,&quot;ownerId&quot;:59450163,&quot;gadgetProfileHeight&quot;:&quot;250&quot;,&quot;applicationId&quot;:1200,&quot;urlToCanvasView&quot;:&quot;http://www.linkedin.com/osview/canvas?_ch_page_id=2&amp;_ch_panel_id=3&amp;_ch_app_id=425837630&amp;_applicationId=1200&quot;,&quot;serverBase&quot;:&quot;http://www.lmodules.com/&quot;,&quot;divID&quot;:&quot;panel-03-slot-425837630&quot;,&quot;title&quot;:&quot;SlideShare Presentations&quot;,&quot;prefs&quot;:{},&quot;gadgetCanvasHeight&quot;:&quot;600&quot;,&quot;isViewerTheOwner&quot;:true,&quot;pageID&quot;:2,&quot;gadgetHomeWidth&quot;:&quot;100%&quot;,&quot;appType&quot;:4,&quot;panelID&quot;:3,&quot;gadgetProfileWidth&quot;:&quot;100%&quot;,&quot;gadgetCanvasWithAdsWidth&quot;:&quot;100%&quot;,&quot;country&quot;:&quot;US&quot;,&quot;viewerId&quot;:59450163,&quot;content&quot;:&quot;&quot;,&quot;doesAppSupportAds&quot;:&quot;true&quot;,&quot;baseLeoNonSecureURL&quot;:&quot;http://www.linkedin.com/&quot;,&quot;gadgetCanvasWidth&quot;:&quot;100%&quot;,&quot;specUrl&quot;:&quot;http://liss.slideshare.com/slideshare.xml&quot;,&quot;signedUrlToCanvasView&quot;:&quot;http://www.linkedin.com/osview/canvas?_ch_page_id=2&amp;_ch_panel_id=3&amp;_ch_app_id=425837630&amp;_applicationId=1200&amp;_ownerId=59450163&amp;osUrlHash=zhb1&quot;,&quot;gadgetHomeHeight&quot;:&quot;250&quot;,&quot;secureToken&quot;:&quot;linkedin%3A3l-9yUEJkdUAgiIVoDqlKXRXudoyEyyoqqt4fsnH9DD0A8uNVq1-ul_3cDQrQU1BuotRf69osJcwxRai6GXQN827Rw4hz0KW5RFk_MP6FDbhMlfpWCfOO1RD-QobC-Q73-ISaxGu56U9d7hWd-vFyOXNi9F5XMH6J8NIVIA-8eEkF4YvP0I0lphR0cdM8Rkc_akE54JZccg4y9dJpqEU6jROGXGHg6YZrInA35JGLui3IKIw_xz8P_nWJKLi6m3QQnjcUNGrRXMmvdaZvFpl2_1bT4L4bIay-Pwnsi0GckxdbwR6EQ85JO1MeIcD5r9KfqdV6-&quot;,&quot;gadgetCanvasWithAdsHeight&quot;:&quot;600&quot;,&quot;language&quot;:&quot;en&quot;,&quot;ownerProfileUrl&quot;:&quot;/profile/view?id=59450163&quot;,&quot;appID&quot;:425837630},&quot;title&quot;:&quot;SlideShare Presentations&quot;,&quot;panelDiv&quot;:&quot;panel-03&quot;}", true, '513971714', 3);
          
          YDom.addClass( 'profile-applications', 'installed-apps');
        
        
      
    // the following is required only if the event handlers are to be attached to the open social links
    setupModules.addOSHandler= function(panelID) {};
    setupModules.init(3);
   }

  </script>
<script type="text/javascript">LI.Controls.processQueue();</script>
<script type="text/javascript">
  LI.define('Tracking.Quantcast');
  LI.Tracking.Quantcast = function() {
    _qoptions = { qacct:"p-b3sGjMtCFrexE" };
    YAHOO.util.Get.script( 'http://edge.quantserve.com/quant.js' );
  };
  YEvent.on( window, 'load', LI.Tracking.Quantcast);
</script>
<noscript>
<a href="http://www.quantcast.com/p-b3sGjMtCFrexE" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-b3sGjMtCFrexE.gif" style="display: none;" height="1" width="1" alt=""/></a>
</noscript>
<script type="text/javascript">
  LI.define('Tracking.Comscore');
  LI.Tracking.Comscore = function() {
    YAHOO.util.Get.script( 'http://b.scorecardresearch.com/beacon.js', {
      onSuccess: function() {
        COMSCORE.beacon({ c1:2, c2:6402952, c3:"", c4:"", c5:"", c6:"", c15:"" });
      }
    });
  };
  YEvent.on( window, 'load', LI.Tracking.Comscore);
</script>
<noscript>
<img src="http://b.scorecardresearch.com/b?c1=2&amp;c2=6402952&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cv=1.3&amp;cj=1" style="display:none" width="0" height="0" alt=""/>
</noscript>
<script type="text/javascript">
  YEvent.on( window, 'load', function() {
    (function () {
      var protocol = 'http:';
      var d = new Image(1, 1);
      d.onerror = d.onload = function () { d.onerror = d.onload = null; };    
      d.src = [
        protocol,
        "//secure-us.imrworldwide.com/cgi-bin/m?ci=us-603751h&cg=0&cc=1&si=", 
        escape(window.location.href), "&rp=", 
        escape(document.referrer),   
        "&ts=compact&rnd=", 
        (new Date()).getTime()
      ].join('');
    })();
  });
</script>
<noscript>
<img src="http://secure-us.imrworldwide.com/cgi-bin/m?ci=us-603751h&cg=0&cc=1&ts=noscript" width="1" height="1" alt="" style="display:none"/>
</noscript>
<img src="http://s4.licdn.com/scds/common/u/img/tracker.gif?id=sct-1736110580" width="1" height="1" alt="">
<script type="text/javascript">
       				if(typeof(WEBTRACK_GLOBAL) !== 'undefined')
     				{
       					WEBTRACK_GLOBAL.record('postTrackerPixel');
     				}
     			</script>
<script type="text/javascript">
 if(typeof(WEBTRACK_GLOBAL) !== "undefined") {
 WEBTRACK_GLOBAL.set('serverStartTime', ('1340992479.746')*1000);
 WEBTRACK_GLOBAL.set('serverFirstFlushTime', ('1340992480.058')*1000);
 WEBTRACK_GLOBAL.set('serverEndTime', ('1340992480.1')*1000);
 }
 </script>

	<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
	<script src="/javascripts/jRecorder/jRecorder.js"></script>

	<script src="/javascripts/record.js"> </script>


</body>

</html>
